@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700');

@import '../components/navbar.scss';

html,
body {
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif, system-ui;
	background-attachment: fixed !important;
	background: var(--background-color);
	color: var(--couleur_police_primaire);
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	color: var(--couleur_police_primaire);
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

a[target="_blank"] {
	position: relative;
	display: inline-block;
	padding-right: 1rem;
}

a[target="_blank"]:before {
	content: " \2197";
	position: absolute;
	right: 0;
}

@font-face {
	font-family: 'GearsOfPeace';
	src: url('../../fonts/GearsOfPeace.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

h1 {
	margin-block-start: 0em;
	text-align: center;
}

p.explication {
	text-align: justify;
	text-align-last: left;
	margin-bottom: 30px;
}

.centre-element {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}

.centre-enfants {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}

.grille-enfants {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.centre-vertical-enfant {
	align-items: center;
}

.texte_petit {
	font-size: 0.7em;
}

.bouton {
	padding: 10px 25px 12px 25px;
	font-size: 1.1em;
	border-radius: 50px;
	min-width: 100px;
	width: fit-content;
	display: block;
	cursor: pointer;
	user-select: none;
	text-align: center;
	font-family: 'Inter', sans-serif, system-ui;
	transition: padding 0.15s ease-in-out;

	&[class^="iconsax-"]:before,
	&[class^="iconsax-"]:after {
		font-size: 1.3em;
	}

	&[disabled] {
		opacity: 0.4;
		cursor: not-allowed;
	}

	&:hover {
		padding: 10px 20px 12px 30px;
	}

	& span {
		vertical-align: middle;
	}

	&.margin_tout {
		margin: 15px;
	}

	&.margin_vertical {
		margin: 15px 0px;
	}

	&.primaire {
		color: var(--couleur_police_accentuation);
		background-color: var(--couleur_accentuation);
		border: none;
		text-transform: uppercase;
	}

	&.secondaire {
		border: 1px solid var(--couleur_accentuation);
		background: transparent;
		color: var(--couleur_accentuation);
		// transition: border 0.1s ease-in-out;
	}

	&.tertiaire {
		background: transparent;
		color: var(--couleur_police_primaire);
		border-width: 1px;
		border-style: solid;
		border-color: var(--couleur_police_secondaire);
		// transition: border-color 0.1s ease-in-out;
	}
}


body.dark-theme {
	& .ombre_grande {
		box-shadow: var(--ombre-grande);
	}

	& .ombre_petite {
		box-shadow: var(--ombre-petite);
	}

	& .ombre_inset {
		box-shadow: var(--ombre-inset);
	}

	& a.couleur {
		text-decoration: underline;
		color: #98cbff;
	}

	& a.couleur:hover {
		color: #759aff;
	}
}

body.light-theme {

	& .ombre_grande {
		box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.15);
	}

	& .ombre_petite {
		box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
	}

	& .ombre_inset {
		box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2) inset;
	}

	& a.couleur {
		text-decoration: underline;
		color: #414fd8;
	}

	& a.couleur:hover {
		color: #7f8bf7;
	}
}