@use './layout-without-sidebar';

//Add 1 column and gap
#content {

    grid-template-columns: 3fr 1fr;
    gap: 45px 5vw;
}


//Content on the right
#side-bar {
    grid-column: 2;
    grid-row: 0;
}