.entite {
  width: 240px;
  margin-bottom: 20px;
}

.entite .logo {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
  background: var(--dark-grey);
}

.entite .logo img {
  width: 84%;
  margin: 8%;
  border-radius: 500px;
}

.entite .logo:hover .cercle {
  border: 5px solid;
}

.entite .logo .cercle {
  border-radius: 500px;
  border: 2px solid;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  transition: border 0.1s ease-in-out;
}

.entite .info .nom {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0.5em 0 0.3em;
  text-transform: capitalize;
}

.entite .info .categories {
  color: var(--couleur_police_secondaire);
  font-size: 0.85em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.entite .info .categories > span {
  text-transform: capitalize;
  background: var(--grey);
  padding: 4px 15px 5px 15px;
  border-radius: 50px;
}

@media (max-width: 600px) {
  .entite {
    width: 160px;
  }

  .entite .logo {
    width: 130px;
    height: 130px;
  }

  .entite .logo img {
    width: 80%;
    margin: 10%;
  }

  .entite .logo:hover .cercle {
    border: 3.5px solid;
  }

  .entite .info .nom {
    font-size: 1.3em;
  }

  .entite .info .categories {
    font-size: 0.55em;
  }
}

a.reseau-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  gap: 18px;
  border-radius: 6px;
}

a.reseau-social[target=_blank]:before {
  content: "";
}

a.reseau-social img {
  width: 28px;
  height: 28px;
}

a.reseau-social p {
  margin: 0;
}

.logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 260px;
}

.logo img {
  width: 100%;
  border-radius: 300px;
}

.categories {
  margin-top: 20px;
  color: var(--couleur_police_secondaire);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.categories > span {
  background: var(--gris_1);
  padding: 4px 15px 5px 15px;
  border-radius: 50px;
  text-transform: capitalize;
}

.description {
  margin-top: 40px;
  max-width: 80ch;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

.membres > div {
  position: relative;
  cursor: pointer;
}

.membres .photo {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.membres .photo img {
  border-radius: 500px;
  background: var(--gris_2);
}

.membres .photo .cercle {
  border-radius: 500px;
  border: 2px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-color: var(--couleur_accentuation);
}

@media (max-width: 767.98px) {
  .membres > div {
    margin: 15px;
  }

  .membres .photo img {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) {
  .membres > div {
    margin: 20px;
  }

  .membres .photo img {
    width: 180px;
    height: 180px;
  }
}

.reseaux_sociaux {
  gap: 12px;
  margin-bottom: 25px;
}

#modal_info_membre {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  max-width: 110ch;
  max-height: 50ch;
  z-index: 11;
  border-radius: 20px;
  background: var(--couleur_fond);
  box-shadow: var(--ombre_grande);
}

#profil {
  display: grid;
  padding: 50px;
  overflow: auto;
}

#close_modal {
  position: absolute;
  padding: 5px;
  font-size: 1.5em;
  top: 20px;
  left: 20px;
  background: var(--couleur_fond);
  border-radius: 5px;
  cursor: pointer;
}

.profil {
  margin-top: auto;
  margin-bottom: auto;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 40px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.photo_profil {
  max-width: 260px;
  max-height: 260px;
  margin-left: auto;
  margin-right: auto;
}

.photo_profil img {
  width: 100%;
  border-radius: 300px;
}

.info_profil {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  flex-basis: 40ch;
  row-gap: 20px;
}

.prenoms {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.prenoms h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.prenoms .pronoms {
  color: grey;
  font-weight: normal;
}

.bio {
  max-width: 80ch;
  text-align: justify;
  overflow-wrap: break-word;
}

.reseaux_sociaux_profil {
  margin-top: 12px;
  gap: 12px;
}

.reseaux_sociaux_profil > a {
  padding: 10px 18px;
  border-radius: 50px;
}

