input {
  border: none;
  background: unset;
  color: inherit;
}

input:focus {
  border: none;
  outline: none;
}

p {
  -webkit-margin-before: inherit;
          margin-block-start: inherit;
  -webkit-margin-after: inherit;
          margin-block-end: inherit;
  -webkit-margin-start: inherit;
          margin-inline-start: inherit;
  margin-block-end: inherit;
}

textarea {
  border: none;
  background: unset;
  resize: vertical;
  color: inherit;
  font-family: inherit;
}

textarea:focus {
  outline: none;
}

.groupe {
  display: grid;
  padding: 13px 18px;
  font-size: 1em;
  color: inherit;
  margin: 0 0 40px;
  max-width: 100%;
  box-sizing: border-box;
}

.groupe .erreurs {
  border-left: 3px solid #e20000;
  padding-left: 5px;
  margin-bottom: 15px;
}

fieldset {
  margin: 9px 0px;
  display: grid;
  border-radius: 10px;
  border: 1px solid rgb(127, 127, 127);
}

fieldset legend {
  font-size: 1.3em;
  font-weight: 600;
}

.input_groupe {
  padding: 5px 5px;
  margin: 3px 0px;
  border-left: 1px solid transparent;
  transition: border 0.15s ease-in-out;
}

.input_groupe.flex {
  display: flex;
  flex-wrap: wrap;
}

.input_groupe:focus-within {
  border-left: 1px solid var(--couleur_accentuation);
}

.input_groupe:focus-within > .titre {
  opacity: 0.8;
}

.input_groupe .titre {
  transition: opacity 0.15s cubic-bezier(0.8, 0, 0, 0.8);
  font-size: 1.1em;
}

.input_groupe .description {
  color: var(--couleur_police_secondaire);
  font-size: 0.95em;
}

.input_groupe .input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  font-size: 1em;
  background-color: var(--dark-grey);
  color: var(--couleur_police_secondaire);
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
}

.input_groupe .input.erreur {
  border: 1px solid #c70e0e;
}

.input_groupe .input::-moz-placeholder {
  color: inherit;
  opacity: 0.6;
}

.input_groupe .input::placeholder {
  color: inherit;
  opacity: 0.6;
}

.input_groupe .input[type=checkbox] {
  display: grid;
  place-content: center;
  align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin: 0px 8px;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.3em;
  color: currentColor;
  background-color: var(--dark-grey);
  border: 1px solid currentColor;
}

.input_groupe .input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 0.2em;
  background: var(--couleur_accentuation);
  transform: scale(0);
  opacity: 0;
  transition: transform 80ms ease-in-out, opacity 80ms ease-in-out;
}

.input_groupe .input[type=checkbox]:hover::before {
  transform: scale(0.5);
  opacity: 0.6;
}

.input_groupe .input[type=checkbox]:hover:checked::before {
  transform: scale(0.8);
  opacity: 0.8;
}

.input_groupe .input[type=checkbox]:checked::before {
  transform: scale(1);
  opacity: 1;
}

.input_groupe .input[type=radio] {
  display: grid;
  place-content: center;
  align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin: 0px 8px;
  width: 1.15em;
  height: 1.15em;
  border-radius: 1em;
  color: currentColor;
  background-color: var(--dark-grey);
  border: 1px solid currentColor;
}

.input_groupe .input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 1em;
  background: var(--couleur_accentuation);
  transform: scale(0);
  opacity: 0;
  transition: transform 80ms ease-in-out, opacity 80ms ease-in-out;
}

.input_groupe .input[type=radio]:hover::before {
  transform: scale(0.5);
  opacity: 0.6;
}

.input_groupe .input[type=radio]:hover:checked::before {
  transform: scale(0.8);
  opacity: 0.8;
}

.input_groupe .input[type=radio]:checked::before {
  transform: scale(1);
  opacity: 1;
}

.input_groupe textarea {
  width: 100%;
  margin-top: 8px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: var(--dark-grey);
  border-radius: 8px;
  color: var(--couleur_police_secondaire);
}

.input_groupe.radio {
  display: grid;
  color: var(--couleur_police_secondaire);
}

div.table {
  box-sizing: border-box;
  margin-top: 10px;
  overflow: hidden;
  padding: 13px 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead tr {
  border-bottom: 1px solid var(--light-grey);
}

table tr {
  text-align: center;
  color: var(--couleur_police);
}

table tbody tr:hover {
  border-bottom: 1px solid var(--light-grey);
}

table th {
  padding: 15px 15px;
}

table td {
  padding: 10px 15px;
}

table td.lien {
  text-align: left;
}

#search {
  padding: 13px 25px;
  border-radius: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--dark-grey);
}

#search .input {
  font-size: 1.1em;
  min-width: 30ex;
  display: inline-block;
}

#search .input:focus {
  outline: none;
}

#search:before {
  font-size: 1.1em;
  margin-right: 0.5em;
}

.index_docs {
  display: flex;
  flex-direction: column;
}

.documentation_liste {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 15px;
  padding: 15px 20px;
  margin-top: 15px;
  background: var(--dark-grey);
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey);
  border-top-color: var(--grey);
  box-sizing: border-box;
  transition: border-top-color 0.1s ease-in-out;
}

.documentation_liste:hover {
  border-top-color: var(--couleur_accentuation);
}

.documentation_liste .titre {
  font-weight: var(--fw-medium);
  font-size: 1.1em;
  margin-block: 0;
  color: var(--couleur_accentuation);
}

.documentation_liste .titre::first-letter {
  text-transform: capitalize;
}

.documentation_liste .description {
  display: none;
}

.documentation_liste .contenu_md {
  font-size: 0.95em;
  margin-block: 0;
  color: var(--couleur_police_secondaire);
  line-height: 1.15em;
  max-height: 3.45em;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  overflow: hidden;
}

.documentation_liste .contenu_md::first-letter {
  text-transform: capitalize;
}

.documentation_liste .categories {
  font-size: 0.95em;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  color: var(--couleur_police_secondaire);
}

.categories span {
  background: var(--grey);
  padding: 4px 15px 5px 15px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 50px;
  text-transform: capitalize;
}

