.entite {
  width: 240px;
  margin-bottom: 20px;
}

.entite .logo {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
  background: var(--dark-grey);
}

.entite .logo img {
  width: 84%;
  margin: 8%;
  border-radius: 500px;
}

.entite .logo:hover .cercle {
  border: 5px solid;
}

.entite .logo .cercle {
  border-radius: 500px;
  border: 2px solid;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  transition: border 0.1s ease-in-out;
}

.entite .info .nom {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0.5em 0 0.3em;
  text-transform: capitalize;
}

.entite .info .categories {
  color: var(--couleur_police_secondaire);
  font-size: 0.85em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.entite .info .categories > span {
  text-transform: capitalize;
  background: var(--grey);
  padding: 4px 15px 5px 15px;
  border-radius: 50px;
}

@media (max-width: 600px) {
  .entite {
    width: 160px;
  }

  .entite .logo {
    width: 130px;
    height: 130px;
  }

  .entite .logo img {
    width: 80%;
    margin: 10%;
  }

  .entite .logo:hover .cercle {
    border: 3.5px solid;
  }

  .entite .info .nom {
    font-size: 1.3em;
  }

  .entite .info .categories {
    font-size: 0.55em;
  }
}

.switch-campus {
  position: absolute;
  font-family: Arial;
  border-radius: 15px;
  top: 20px;
  left: 20px;
}

.switch-campus select {
  display: none;
}

.switch-campus .select-selected {
  border-radius: 16px;
  transition: all 0.2s;
  background-color: var(--grey);
  color: var(--couleur_police_primaire);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  box-shadow: var(--ombre-card);
}

.switch-campus .select-selected::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--couleur_police_primaire) transparent transparent transparent;
}

.switch-campus .select-selected.select-arrow-active {
  border-radius: 0px;
}

.switch-campus .select-selected.select-arrow-active :after {
  border-color: transparent transparent var(--couleur_police_primaire) transparent;
  top: 7px;
}

.switch-campus .select-items {
  position: absolute;
  background-color: var(--grey);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.switch-campus .select-items div {
  color: var(--couleur_police_primaire);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.switch-campus .select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.switch-campus .select-hide {
  display: none;
}

.switch-campus .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.liste_comite_club {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 1.4em;
}

@media (max-width: 599.98px) {
  .liste_comite_club {
    gap: 10px 10px;
  }
}

