.entite {
  width: 240px;
  margin-bottom: 20px;
}

.entite .logo {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
  background: var(--grey);
}

.entite .logo img {
  width: 84%;
  margin: 8%;
  border-radius: 500px;
}

.entite .logo:hover .cercle {
  border: 5px solid;
}

.entite .logo .cercle {
  border-radius: 500px;
  border: 2px solid;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  transition: border 0.1s ease-in-out;
}

.entite .info .nom {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0.5em 0 0.3em;
  text-transform: capitalize;
}

.entite .info .categories {
  color: var(--couleur_police_secondaire);
  font-size: 0.85em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.entite .info .categories > span {
  text-transform: capitalize;
  background: var(--grey);
  padding: 4px 15px 5px 15px;
  border-radius: 50px;
}

@media (max-width: 600px) {
  .entite {
    width: 160px;
  }

  .entite .logo {
    width: 130px;
    height: 130px;
  }

  .entite .logo img {
    width: 80%;
    margin: 10%;
  }

  .entite .logo:hover .cercle {
    border: 3.5px solid;
  }

  .entite .info .nom {
    font-size: 1.3em;
  }

  .entite .info .categories {
    font-size: 0.55em;
  }
}

#post {
  color: white;
  padding: 15px;
}

#post:not(:last-of-type) {
  margin-bottom: 30px;
}

#post #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#post #header .thumbnail {
  border-radius: 200px;
  width: 10%;
  height: 10%;
}

#post #header .details {
  margin-left: 10px;
  margin-right: 10px;
}

#post #header .details #main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#post #header .details .tags {
  display: flex;
  flex-direction: row;
}

#post #header .details .tags .tag {
  background-color: #CC3345;
  border-radius: 100px;
  font-size: 12px;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#post #header #release-date {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

#post #header #arrow-display {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.entites-wrapper {
  display: flex;
  gap: 30px;
}

