/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/images/*
!public/images/offline.svg
!public/images/icons/
/public/js
/public/sw.js
/public/firebase-messaging-sw.js
public/mix-manifest.json
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
.env
package-lock.json
composer.lock

questions.md
*.lnk


resources/notifications/firebase_config.js
resources/notifications/firebase_credentials.json
