/node_modules

/public/assets
/public/vite-manifest.json
/public/hot

/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
.env
package-lock.json
composer.lock

questions.md
*.lnk


resources/notifications/firebase_config.js
resources/notifications/firebase_credentials.json
