h1.titre {
    margin-block-start: 0;
    text-decoration: underline;
    text-decoration-color: var(--couleur_accentuation);
}

h1.titre::first-letter {
    text-transform: capitalize;
}

.documentation p {
    font-weight: var(--fw-light);
    margin: 0;

    &:not(:last-child) {
        margin: 0 0 12px;
    }

    em {
        display: inline-block;
        margin-right: 8px;
    }

    text-align: justify;
}