::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--couleur_accentuation_air);
  border-radius: 50px;
  box-shadow: var(--ombre-grande);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--couleur_accentuation_air_light);
}

::-webkit-scrollbar-track {
  background-color: var(--grey);
  border-radius: 50px;
}

@supports (scrollbar-color: white white) {
  * {
    scrollbar-color: var(--couleur_accentuation_air) var(--grey);
  }
}

