@charset "UTF-8";

/* Style des différents composants de la page */

#event {
  color: white;
  padding: 15px;
}

#event:not(:last-of-type) {
  margin-bottom: 30px;
}

#event #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#event #header .thumbnail {
  border-radius: 200px;
  width: 10%;
  height: 10%;
}

#event #header .details {
  margin-left: 10px;
  margin-right: 10px;
}

#event #header .details #main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#event #header .details .tags {
  display: flex;
  flex-direction: row;
}

#event #header .details .tags .tag {
  background-color: #CC3345;
  border-radius: 100px;
  font-size: 12px;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#event #header #release-date {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

#event #header #arrow-display {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* Style relatif à l'affichage des outils et liens utiles */

.services-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Style relatif à l'affichage des articles */

.article-wrapper {
  display: flex;
  flex-direction: column;
}

.service {
  width: 180px;
  margin-bottom: 30px;
}

.service .logo {
  width: 150px;
  height: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 250px;
  background: var(--grey);
}

.service .logo img {
  width: 84%;
  margin: 8%;
  border-radius: 375px;
}

.service .logo:hover .cercle {
  border: 3.5px solid;
}

.service .logo .cercle {
  border-radius: 375px;
  border: 2px solid;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  transition: border 0.1s ease-in-out;
}

.service .info .nom {
  font-size: 1.1em;
  line-height: 0.9em;
  margin: 0.5em 0 0.3em;
  text-transform: capitalize;
}

.service .info .categories {
  color: var(--couleur_police_secondaire);
  font-size: 0.6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.service .info .categories > span {
  text-transform: capitalize;
  background: var(--grey);
  padding: 4px 15px 5px 15px;
  border-radius: 50px;
}

@media (max-width: 600px) {
  .entite {
    width: 120px;
  }

  .entite .logo {
    width: 97px;
    height: 97px;
  }

  .entite .logo img {
    width: 80%;
    margin: 10%;
  }

  .entite .logo:hover .cercle {
    border: 2.5px solid;
  }

  .entite .info .nom {
    font-size: 1em;
  }

  .entite .info .categories {
    font-size: 0.4em;
  }
}

#event {
  color: white;
  padding: 15px;
}

#event:not(:last-of-type) {
  margin-bottom: 30px;
}

#event #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#event #header .thumbnail {
  border-radius: 200px;
  width: 10%;
  height: 10%;
}

#event #header .details {
  margin-left: 10px;
  margin-right: 10px;
}

#event #header .details #main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#event #header .details .tags {
  display: flex;
  flex-direction: row;
}

#event #header .details .tags .tag {
  background-color: #CC3345;
  border-radius: 100px;
  font-size: 12px;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#event #header #release-date {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

#event #header #arrow-display {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* Anciens imports : 
@import './accueil/entity-list';
@import './accueil/intro';

*/

