@charset "UTF-8";

/* Variables contenant les codes hexadécimaux des principales couleurs */

/* Style général de la page */

body {
  background-color: #17191b;
  font-family: system-ui;
  overflow-x: hidden;
}

p {
  color: #ffffff;
  padding: 5px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  padding: 0 calc(15px + 1em) 0 15px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content {
  overflow-x: hidden;
}

@media (max-width: 1100px) {
  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  p {
    -webkit-margin-before: 15px;
            margin-block-start: 15px;
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  p {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  #wrapper {
    padding: 0px 5px 0px 5px;
  }
}

@media (min-width: 1200px) {
  #content.grand {
    min-width: 1200px;
    width: 80%;
  }
}

/* Style des différents composants de la page */

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: #cc3345;
  border-radius: 50px;
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cc5966;
}

::-webkit-scrollbar-track {
  background-color: #2e2e33;
  border-radius: 50px;
}

@supports (scrollbar-color: white white) {
  * {
    scrollbar-color: #cc3345 #2e2e33;
  }
}

#bouton_se_connecter {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
}

a.bouton {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  padding: 11px 25px 12px 25px;
  font-size: 1.1em;
  border-radius: 50px;
  min-width: 100px;
  line-height: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  font-family: system-ui;
  transform: translateY(0px);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

a.bouton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.4);
}

a.bouton.primaire {
  color: #ffffff;
  background-color: #cc3345;
  border: none;
  text-transform: uppercase;
}

#navbar {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}

#rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: #2E2E33;
}

.logo {
  margin-right: 5%;
}

.theme-switch-button {
  display: flex;
  margin-right: 50px;
  margin-left: 20px;
}

.menu-button {
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #4B4B52;
}

.connect-button {
  background-color: #CC3345;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10%;
  cursor: pointer;
}

.connect-button:hover {
  background-color: white;
}

.connect-button:hover > h1 {
  color: black;
}

#content {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 8%;
  color: white;
}

#main-content {
  width: 70%;
  margin-left: 20px;
  margin-right: 40px;
}

.article-wrapper {
  display: flex;
  flex-direction: column;
}

.article {
  background-color: #2E2E33;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#side-bar {
  width: 30%;
  margin-left: 20px;
  margin-right: 40px;
}

#calendrier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-card {
  width: 70%;
  background: #2E2E33;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* Anciens imports : 
@import './accueil/entity-list';
@import './accueil/intro';
@import './accueil/carousel';
*/

