.liste_comite_club {
  display: flex;
  gap: 20px 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.6em;
}

.liste_comite_club .comite_club {
  width: 240px;
}

.liste_comite_club .comite_club .logo {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
  background: var(--gris_2);
}

.liste_comite_club .comite_club .logo img {
  width: 84%;
  margin: 8%;
  border-radius: 500px;
}

.liste_comite_club .comite_club .logo .cercle {
  border-radius: 500px;
  border: 2px solid;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  transition: border 0.1s ease-in-out;
}

.liste_comite_club .comite_club .logo:hover .cercle {
  border: 5px solid;
}

.liste_comite_club .comite_club .info .nom {
  font-size: 2em;
  line-height: 0.8em;
  -webkit-margin-before: 0.3em;
          margin-block-start: 0.3em;
  -webkit-margin-after: 0.3em;
          margin-block-end: 0.3em;
  text-transform: capitalize;
}

.liste_comite_club .comite_club .info .categories {
  font-size: 0.85em;
  color: var(--couleur_police_secondaire);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.liste_comite_club .comite_club .info .categories > span {
  background: var(--gris_1);
  padding: 4px 15px 5px 15px;
  border-radius: 50px;
  text-transform: capitalize;
}

@media (max-width: 499.98px) {
  .comite_club {
    width: 150px;
  }

  .comite_club .logo {
    width: 100px;
    height: 100px;
  }

  .comite_club .info .nom {
    font-size: 1.3em;
  }

  .comite_club .info .categories {
    font-size: 0.65em;
  }
}

