input {
  border: none;
  background: unset;
  color: inherit;
}

input:focus {
  border: none;
  outline: none;
}

p {
  -webkit-margin-before: inherit;
          margin-block-start: inherit;
  -webkit-margin-after: inherit;
          margin-block-end: inherit;
  -webkit-margin-start: inherit;
          margin-inline-start: inherit;
  margin-block-end: inherit;
}

textarea {
  border: none;
  background: unset;
  resize: vertical;
  color: inherit;
  font-family: inherit;
}

textarea:focus {
  outline: none;
}

.groupe {
  display: grid;
  padding: 13px 18px;
  border-radius: 25px;
  font-size: 1em;
  color: inherit;
  margin: 40px 0px;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--gris_1);
}

.groupe .erreurs {
  border-left: 3px solid #e20000;
  padding-left: 5px;
  margin-bottom: 15px;
}

fieldset {
  margin: 9px 0px;
  display: grid;
  border-radius: 10px;
  border: 1px solid #7f7f7f;
}

fieldset legend {
  font-size: 1.3em;
  font-weight: 600;
}

.input_groupe {
  padding: 5px 5px;
  margin: 3px 0px;
  border-left: 1px solid transparent;
  transition: border 0.15s ease-in-out;
}

.input_groupe.flex {
  display: flex;
  flex-wrap: wrap;
}

.input_groupe > .titre {
  transition: opacity 0.15s cubic-bezier(0.8, 0, 0, 0.8);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.1em;
}

.input_groupe:focus-within {
  border-left: 1px solid var(--couleur_accentuation);
}

.input_groupe:focus-within > .titre {
  opacity: 0.8;
}

.input_groupe > .description {
  color: var(--couleur_police_secondaire);
  font-size: 0.95em;
}

.input_groupe > .input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  font-size: 1em;
  background-color: var(--gris_2);
  color: var(--couleur_police_secondaire);
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
}

.input_groupe > .input.erreur {
  border: 1px solid #c70e0e;
}

.input_groupe > .input::-moz-placeholder {
  color: inherit;
  opacity: 0.6;
}

.input_groupe > .input:-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}

.input_groupe > .input::placeholder {
  color: inherit;
  opacity: 0.6;
}

.input_groupe [type=checkbox] {
  display: grid;
  place-content: center;
  align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin: 0px 8px;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.3em;
  color: currentColor;
  background-color: var(--gris_2);
  border: 1px solid currentColor;
}

.input_groupe [type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 0.2em;
  background: var(--couleur_accentuation);
  transform: scale(0);
  opacity: 0;
  transition: transform 80ms ease-in-out, opacity 80ms ease-in-out;
}

.input_groupe [type=checkbox]:hover::before {
  transform: scale(0.5);
  opacity: 0.6;
}

.input_groupe [type=checkbox]:hover:checked::before {
  transform: scale(0.8);
  opacity: 0.8;
}

.input_groupe [type=checkbox]:checked::before {
  transform: scale(1);
  opacity: 1;
}

.input_groupe textarea {
  width: 100%;
  margin-top: 8px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: var(--gris_2);
  border-radius: 8px;
  color: var(--couleur_police_secondaire);
}

.input_groupe.radio {
  display: grid;
  color: var(--couleur_police_secondaire);
}

