/*!
 * JSTable
 */

.dt-container {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: hidden;
}

.dt-container .dt-message {
  text-align: center;
}

.dt-container .dt-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  margin-top: -20px;
  height: 40px;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dt-top,
.dt-bottom {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
}

.dt-top .dt-selector,
.dt-bottom .dt-selector {
  padding: 10px;
  background: var(--light-grey);
  color: inherit;
  margin-right: 5px;
  border-radius: 8px;
}

.dt-top .dt-info,
.dt-bottom .dt-info {
  margin: 7px 0;
}

input,
select {
  border: none;
  background: unset;
  color: inherit;
}

input:focus,
select:focus {
  border: none;
  outline: none;
}

.dt-input {
  padding: 10px 16px;
  background: var(--light-grey);
  color: inherit;
  border-radius: 8px;
}

/* PAGER */

.dt-pagination ul {
  margin: 0;
  padding-left: 0;
}

.dt-pagination ul li {
  list-style: none;
  float: left;
}

.dt-pagination a,
.dt-pagination span {
  border: 1px solid transparent;
  float: left;
  margin-left: 2px;
  padding: 6px 12px;
  border-radius: 50px;
}

.dt-pagination a:hover {
  background-color: var(--grey);
}

.dt-pagination .active a,
.dt-pagination .active a:focus,
.dt-pagination .active a:hover {
  background-color: var(--grey);
  cursor: default;
}

.dt-pagination .dt-ellipsis span {
  cursor: not-allowed;
}

.dt-pagination .disabled a,
.dt-pagination .disabled a:focus,
.dt-pagination .disabled a:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.dt-pagination .pager a {
  font-weight: bold;
}

.dt-table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
}

.dt-table > tbody > tr > td,
.dt-table > tbody > tr > th,
.dt-table > tfoot > tr > td,
.dt-table > tfoot > tr > th,
.dt-table > thead > tr > td,
.dt-table > thead > tr > th {
  vertical-align: top;
  padding: 8px 10px;
  white-space: nowrap;
}

.dt-table > thead > tr > th,
.dt-table > thead > tr > td {
  vertical-align: bottom;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
}

.dt-table > tfoot > tr > th,
.dt-table > tfoot > tr > td {
  vertical-align: bottom;
  text-align: left;
  border-top: 1px solid #d9d9d9;
}

.dt-table th {
  vertical-align: bottom;
  text-align: left;
}

.dt-table th.dt-sorter {
  position: relative;
  cursor: pointer;
  padding-right: 20px;
}

.dt-table th.dt-sorter::before,
.dt-table th.dt-sorter::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  right: 7px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.dt-table th.dt-sorter::before {
  border-top: 4px solid var(--couleur_police_primaire);
  top: 18px;
}

.dt-table th.dt-sorter::after {
  border-bottom: 4px solid var(--couleur_police_primaire);
  border-top: 4px solid transparent;
  bottom: 22px;
}

.dt-table th.dt-sorter.asc::after,
.dt-table th.dt-sorter.desc::before {
  opacity: 0.4;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
}

input {
  border: none;
  background: unset;
  color: inherit;
}

input:focus {
  border: none;
  outline: none;
}

p {
  -webkit-margin-before: inherit;
          margin-block-start: inherit;
  -webkit-margin-after: inherit;
          margin-block-end: inherit;
  -webkit-margin-start: inherit;
          margin-inline-start: inherit;
  margin-block-end: inherit;
}

textarea {
  border: none;
  background: unset;
  resize: vertical;
  color: inherit;
  font-family: inherit;
}

textarea:focus {
  outline: none;
}

.groupe {
  display: grid;
  padding: 13px 18px;
  font-size: 1em;
  color: inherit;
  margin: 0 0 40px;
  max-width: 100%;
  box-sizing: border-box;
}

.groupe .erreurs {
  border-left: 3px solid #e20000;
  padding-left: 5px;
  margin-bottom: 15px;
}

fieldset {
  margin: 9px 0px;
  display: grid;
  border-radius: 10px;
  border: 1px solid rgb(127, 127, 127);
}

fieldset legend {
  font-size: 1.3em;
  font-weight: 600;
}

.input_groupe {
  padding: 5px 5px;
  margin: 3px 0px;
  border-left: 1px solid transparent;
  transition: border 0.15s ease-in-out;
}

.input_groupe.flex {
  display: flex;
  flex-wrap: wrap;
}

.input_groupe:focus-within {
  border-left: 1px solid var(--couleur_accentuation);
}

.input_groupe:focus-within > .titre {
  opacity: 0.8;
}

.input_groupe .titre {
  transition: opacity 0.15s cubic-bezier(0.8, 0, 0, 0.8);
  font-size: 1.1em;
}

.input_groupe .description {
  color: var(--couleur_police_secondaire);
  font-size: 0.95em;
}

.input_groupe .input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  font-size: 1em;
  background-color: var(--light-grey);
  color: var(--couleur_police_secondaire);
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
}

.input_groupe .input.erreur {
  border: 1px solid #c70e0e;
}

.input_groupe .input::-moz-placeholder {
  color: inherit;
  opacity: 0.6;
}

.input_groupe .input::placeholder {
  color: inherit;
  opacity: 0.6;
}

.input_groupe .input[type=checkbox] {
  display: grid;
  place-content: center;
  align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin: 0px 8px;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.3em;
  color: currentColor;
  background-color: var(--dark-grey);
  border: 1px solid currentColor;
}

.input_groupe .input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 0.2em;
  background: var(--couleur_accentuation);
  transform: scale(0);
  opacity: 0;
  transition: transform 80ms ease-in-out, opacity 80ms ease-in-out;
}

.input_groupe .input[type=checkbox]:hover::before {
  transform: scale(0.5);
  opacity: 0.6;
}

.input_groupe .input[type=checkbox]:hover:checked::before {
  transform: scale(0.8);
  opacity: 0.8;
}

.input_groupe .input[type=checkbox]:checked::before {
  transform: scale(1);
  opacity: 1;
}

.input_groupe .input[type=radio] {
  display: grid;
  place-content: center;
  align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin: 0px 8px;
  width: 1.15em;
  height: 1.15em;
  border-radius: 1em;
  color: currentColor;
  background-color: var(--dark-grey);
  border: 1px solid currentColor;
}

.input_groupe .input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 1em;
  background: var(--couleur_accentuation);
  transform: scale(0);
  opacity: 0;
  transition: transform 80ms ease-in-out, opacity 80ms ease-in-out;
}

.input_groupe .input[type=radio]:hover::before {
  transform: scale(0.5);
  opacity: 0.6;
}

.input_groupe .input[type=radio]:hover:checked::before {
  transform: scale(0.8);
  opacity: 0.8;
}

.input_groupe .input[type=radio]:checked::before {
  transform: scale(1);
  opacity: 1;
}

.input_groupe textarea {
  width: 100%;
  margin-top: 8px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: var(--dark-grey);
  border-radius: 8px;
  color: var(--couleur_police_secondaire);
}

.input_groupe.radio {
  display: grid;
  color: var(--couleur_police_secondaire);
}

div.table {
  box-sizing: border-box;
  margin-top: 10px;
  overflow: hidden;
  padding: 13px 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead tr {
  border-bottom: 1px solid var(--light-grey);
}

table tr {
  text-align: center;
  color: var(--couleur_police);
}

table tbody tr:hover {
  border-bottom: 1px solid var(--light-grey);
}

table th {
  padding: 15px 15px;
}

table td {
  padding: 10px 15px;
}

#choix_role {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

td span.role {
  font-size: 0.95em;
  color: var(--couleur_police_secondaire);
  background: var(--light-grey);
  padding: 4px 15px 5px 15px;
  border-radius: 50px;
  text-transform: capitalize;
}

td.lien {
  text-align: left;
}

td a.icon-edit-2,
td a.icon-trash {
  cursor: pointer;
}

