#event {
  color: white;
  padding: 15px;
}

#event:not(:last-of-type) {
  margin-bottom: 30px;
}

#event #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#event #header .thumbnail {
  border-radius: 200px;
  width: 10%;
  height: 10%;
}

#event #header .details {
  margin-left: 10px;
  margin-right: 10px;
}

#event #header .details #main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#event #header .details .tags {
  display: flex;
  flex-direction: row;
}

#event #header .details .tags .tag {
  background-color: #CC3345;
  border-radius: 100px;
  font-size: 12px;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#event #header #release-date {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

#event #header #arrow-display {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

