a.reseau-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  gap: 18px;
  border-radius: 6px;
}

a.reseau-social[target=_blank]:before {
  content: "";
}

a.reseau-social img {
  width: 28px;
  height: 28px;
}

a.reseau-social p {
  margin: 0;
}

