.switch-campus {
  position: absolute;
  font-family: Arial;
  border-radius: 15px;
  top: 20px;
  left: 20px;
}

.switch-campus select {
  display: none;
}

.switch-campus .select-selected {
  border-radius: 16px;
  transition: all 0.2s;
  background-color: var(--grey);
  color: var(--couleur_police_primaire);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  box-shadow: var(--ombre-card);
}

.switch-campus .select-selected::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--couleur_police_primaire) transparent transparent transparent;
}

.switch-campus .select-selected.select-arrow-active {
  border-radius: 0px;
}

.switch-campus .select-selected.select-arrow-active :after {
  border-color: transparent transparent var(--couleur_police_primaire) transparent;
  top: 7px;
}

.switch-campus .select-items {
  position: absolute;
  background-color: var(--grey);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.switch-campus .select-items div {
  color: var(--couleur_police_primaire);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.switch-campus .select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.switch-campus .select-hide {
  display: none;
}

.switch-campus .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

