$icomoon-font-family: "icosax" !default;

$icon-dcube: "\e900";
$icon-d-cube-scan: "\e901";
$icon-d-rotate: "\e902";
$icon-d-square: "\e903";
$icon-square: "\e904";
$icon-support: "\e905";
$icon-activity: "\e906";
$icon-add: "\e907";
$icon-add-circle: "\e908";
$icon-additem: "\e909";
$icon-add-square: "\e90a";
$icon-airdrop: "\e90b";
$icon-airplane: "\e90c";
$icon-airplane-square: "\e90d";
$icon-airpod: "\e90e";
$icon-airpods: "\e90f";
$icon-alarm: "\e910";
$icon-align-bottom: "\e911";
$icon-align-horizontally: "\e912";
$icon-align-left: "\e913";
$icon-align-right: "\e914";
$icon-align-vertically: "\e915";
$icon-aquarius: "\e916";
$icon-archive: "\e917";
$icon-archive-1: "\e918";
$icon-archive-2: "\e919";
$icon-archive-add: "\e91a";
$icon-archive-book: "\e91b";
$icon-archive-minus: "\e91c";
$icon-archive-slash: "\e91d";
$icon-archive-tick: "\e91e";
$icon-arrange-circle: "\e91f";
$icon-arrange-circle-2: "\e920";
$icon-arrange-square: "\e921";
$icon-arrange-square-2: "\e922";
$icon-arrow: "\e923";
$icon-arrow-2: "\e924";
$icon-arrow-3: "\e925";
$icon-arrow-bottom: "\e926";
$icon-arrow-circle-down: "\e927";
$icon-arrow-circle-left: "\e928";
$icon-arrow-circle-right: "\e929";
$icon-arrow-circle-up: "\e92a";
$icon-arrow-down: "\e92b";
$icon-arrow-down-1: "\e92c";
$icon-arrow-down-2: "\e92d";
$icon-arrow-left: "\e92e";
$icon-arrow-left-1: "\e92f";
$icon-arrow-left-2: "\e930";
$icon-arrow-left-3: "\e931";
$icon-arrow-right: "\e932";
$icon-arrow-right-1: "\e933";
$icon-arrow-right-2: "\e934";
$icon-arrow-right-3: "\e935";
$icon-arrow-right-4: "\e936";
$icon-arrow-square: "\e937";
$icon-arrow-square-down: "\e938";
$icon-arrow-square-left: "\e939";
$icon-arrow-square-up: "\e93a";
$icon-arrow-swap: "\e93b";
$icon-arrow-swap-horizontal: "\e93c";
$icon-arrow-up: "\e93d";
$icon-arrow-up-1: "\e93e";
$icon-arrow-up-2: "\e93f";
$icon-arrow-up-3: "\e940";
$icon-attach-circle: "\e941";
$icon-attach-square: "\e942";
$icon-audio-square: "\e943";
$icon-autobrightness: "\e944";
$icon-award: "\e945";
$icon-back-square: "\e946";
$icon-backward: "\e947";
$icon-backward-5-seconds: "\e948";
$icon-backward-10-seconds: "\e949";
$icon-backward-15-seconds: "\e94a";
$icon-backward-item: "\e94b";
$icon-bag: "\e94c";
$icon-bag-2: "\e94d";
$icon-bag-cross: "\e94e";
$icon-bag-cross-1: "\e94f";
$icon-bag-happy: "\e950";
$icon-bag-tick: "\e951";
$icon-bag-tick-2: "\e952";
$icon-bag-timer: "\e953";
$icon-bank: "\e954";
$icon-barcode: "\e955";
$icon-battery-3full: "\e956";
$icon-battery-charging: "\e957";
$icon-battery-disable: "\e958";
$icon-battery-empty: "\e959";
$icon-battery-empty-1: "\e95a";
$icon-battery-full: "\e95b";
$icon-bezier: "\e95c";
$icon-bill: "\e95d";
$icon-bitcoin-card: "\e95e";
$icon-bitcoin-convert: "\e95f";
$icon-bitcoin-refresh: "\e960";
$icon-blend: "\e961";
$icon-blend-2: "\e962";
$icon-bluetooth: "\e963";
$icon-bluetooth-2: "\e964";
$icon-bluetooth-circle: "\e965";
$icon-bluetooth-rectangle: "\e966";
$icon-blur: "\e967";
$icon-book: "\e968";
$icon-book-1: "\e969";
$icon-bookmark: "\e96a";
$icon-bookmark-2: "\e96b";
$icon-book-saved: "\e96c";
$icon-book-square: "\e96d";
$icon-box: "\e96e";
$icon-box-1: "\e96f";
$icon-box-2: "\e970";
$icon-box-add: "\e971";
$icon-box-remove: "\e972";
$icon-box-search: "\e973";
$icon-box-tick: "\e974";
$icon-box-time: "\e975";
$icon-briefcase: "\e976";
$icon-brifecase-cross: "\e977";
$icon-brifecase-tick: "\e978";
$icon-brifecase-timer: "\e979";
$icon-broom: "\e97a";
$icon-brush: "\e97b";
$icon-brush-1: "\e97c";
$icon-brush-2: "\e97d";
$icon-brush-3: "\e97e";
$icon-brush-4: "\e97f";
$icon-bubble: "\e980";
$icon-bucket: "\e981";
$icon-bucket-circle: "\e982";
$icon-bucket-square: "\e983";
$icon-building: "\e984";
$icon-building-3: "\e985";
$icon-building-4: "\e986";
$icon-buildings: "\e987";
$icon-buildings-2: "\e988";
$icon-buliding: "\e989";
$icon-bus: "\e98a";
$icon-buy-crypto: "\e98b";
$icon-cake: "\e98c";
$icon-calculator: "\e98d";
$icon-calendar: "\e98e";
$icon-calendar-1: "\e98f";
$icon-calendar-2: "\e990";
$icon-calendar-add: "\e991";
$icon-calendar-circle: "\e992";
$icon-calendar-edit: "\e993";
$icon-calendar-remove: "\e994";
$icon-calendar-search: "\e995";
$icon-calendar-tick: "\e996";
$icon-call: "\e997";
$icon-call-add: "\e998";
$icon-call-calling: "\e999";
$icon-call-incoming: "\e99a";
$icon-call-minus: "\e99b";
$icon-call-outgoing: "\e99c";
$icon-call-received: "\e99d";
$icon-call-remove: "\e99e";
$icon-call-slash: "\e99f";
$icon-camera: "\e9a0";
$icon-camera-slash: "\e9a1";
$icon-candle: "\e9a2";
$icon-candle-2: "\e9a3";
$icon-car: "\e9a4";
$icon-card: "\e9a5";
$icon-card-add: "\e9a6";
$icon-card-coin: "\e9a7";
$icon-card-edit: "\e9a8";
$icon-card-pos: "\e9a9";
$icon-card-receive: "\e9aa";
$icon-card-remove: "\e9ab";
$icon-card-remove-1: "\e9ac";
$icon-cards: "\e9ad";
$icon-card-send: "\e9ae";
$icon-card-slash: "\e9af";
$icon-card-tick: "\e9b0";
$icon-card-tick-1: "\e9b1";
$icon-category: "\e9b2";
$icon-category-2: "\e9b3";
$icon-cd: "\e9b4";
$icon-chart: "\e9b5";
$icon-chart-1: "\e9b6";
$icon-chart-2: "\e9b7";
$icon-chart-3: "\e9b8";
$icon-chart-21: "\e9b9";
$icon-chart-fail: "\e9ba";
$icon-chart-square: "\e9bb";
$icon-chart-success: "\e9bc";
$icon-check: "\e9bd";
$icon-chrome: "\e9be";
$icon-clipboard: "\e9bf";
$icon-clipboard-close: "\e9c0";
$icon-clipboard-export: "\e9c1";
$icon-clipboard-import: "\e9c2";
$icon-clipboard-text: "\e9c3";
$icon-clipboard-tick: "\e9c4";
$icon-clock: "\e9c5";
$icon-clock-1: "\e9c6";
$icon-close-circle: "\e9c7";
$icon-close-square: "\e9c8";
$icon-cloud: "\e9c9";
$icon-cloud-add: "\e9ca";
$icon-cloud-change: "\e9cb";
$icon-cloud-connection: "\e9cc";
$icon-cloud-cross: "\e9cd";
$icon-cloud-drizzle: "\e9ce";
$icon-cloud-fog: "\e9cf";
$icon-cloud-lightning: "\e9d0";
$icon-cloud-minus: "\e9d1";
$icon-cloud-notif: "\e9d2";
$icon-cloud-plus: "\e9d3";
$icon-cloud-remove: "\e9d4";
$icon-cloud-snow: "\e9d5";
$icon-cloud-sunny: "\e9d6";
$icon-code: "\e9d7";
$icon-code-1: "\e9d8";
$icon-code-circle: "\e9d9";
$icon-coffee: "\e9da";
$icon-coin: "\e9db";
$icon-coin-1: "\e9dc";
$icon-colorfilter: "\e9dd";
$icon-colors-square: "\e9de";
$icon-color-swatch: "\e9df";
$icon-command: "\e9e0";
$icon-command-square: "\e9e1";
$icon-component: "\e9e2";
$icon-computing: "\e9e3";
$icon-convert: "\e9e4";
$icon-convert-3d-cube: "\e9e5";
$icon-convert-card: "\e9e6";
$icon-convertshape: "\e9e7";
$icon-convertshape-2: "\e9e8";
$icon-copy: "\e9e9";
$icon-copyright: "\e9ea";
$icon-copy-success: "\e9eb";
$icon-courthouse: "\e9ec";
$icon-cpu: "\e9ed";
$icon-cpu-charge: "\e9ee";
$icon-cpu-setting: "\e9ef";
$icon-creative-commons: "\e9f0";
$icon-crop: "\e9f1";
$icon-crown: "\e9f2";
$icon-crown-1: "\e9f3";
$icon-cup: "\e9f4";
$icon-danger: "\e9f5";
$icon-data: "\e9f6";
$icon-data-2: "\e9f7";
$icon-designtools: "\e9f8";
$icon-device-message: "\e9f9";
$icon-devices: "\e9fa";
$icon-diagram: "\e9fc";
$icon-diamonds: "\e9fd";
$icon-direct: "\e9fe";
$icon-directbox-default: "\e9ff";
$icon-directbox-notif: "\ea00";
$icon-directbox-receive: "\ea01";
$icon-directbox-send: "\ea02";
$icon-direct-down: "\ea03";
$icon-direct-inbox: "\ea04";
$icon-direct-left: "\ea05";
$icon-direct-normal: "\ea06";
$icon-direct-notification: "\ea07";
$icon-direct-right: "\ea08";
$icon-direct-send: "\ea09";
$icon-direct-up: "\ea0a";
$icon-discount-circle: "\ea0b";
$icon-discount-shape: "\ea0c";
$icon-discover: "\ea0d";
$icon-discover-1: "\ea0e";
$icon-dislike: "\ea0f";
$icon-document: "\ea10";
$icon-document-1: "\ea11";
$icon-document-cloud: "\ea12";
$icon-document-code: "\ea13";
$icon-document-code-2: "\ea14";
$icon-document-copy: "\ea15";
$icon-document-download: "\ea16";
$icon-document-favorite: "\ea17";
$icon-document-filter: "\ea18";
$icon-document-forward: "\ea19";
$icon-document-like: "\ea1a";
$icon-document-normal: "\ea1b";
$icon-document-previous: "\ea1c";
$icon-document-sketch: "\ea1d";
$icon-document-text: "\ea1e";
$icon-document-text-1: "\ea1f";
$icon-document-upload: "\ea20";
$icon-dollar-circle: "\ea21";
$icon-dollar-square: "\ea22";
$icon-driver: "\ea23";
$icon-driver-2: "\ea24";
$icon-driving: "\ea26";
$icon-edit: "\ea27";
$icon-edit-2: "\ea28";
$icon-electricity: "\ea29";
$icon-element-2: "\ea2a";
$icon-element-3: "\ea2b";
$icon-element-4: "\ea2c";
$icon-element-equal: "\ea2d";
$icon-element-plus: "\ea2e";
$icon-emoji-happy: "\ea2f";
$icon-emoji-normal: "\ea30";
$icon-emoji-sad: "\ea31";
$icon-empty-wallet: "\ea32";
$icon-empty-wallet-add: "\ea33";
$icon-empty-wallet-change: "\ea34";
$icon-empty-wallet-remove: "\ea35";
$icon-empty-wallet-tick: "\ea36";
$icon-empty-wallet-time: "\ea37";
$icon-eraser: "\ea38";
$icon-eraser-1: "\ea39";
$icon-export: "\ea3a";
$icon-export-1: "\ea3b";
$icon-export-2: "\ea3c";
$icon-export-3: "\ea3d";
$icon-external-drive: "\ea3e";
$icon-eye: "\ea3f";
$icon-eye-slash: "\ea40";
$icon-fatrows: "\ea41";
$icon-favorite-chart: "\ea42";
$icon-filter: "\ea43";
$icon-filter-add: "\ea44";
$icon-filter-edit: "\ea45";
$icon-filter-remove: "\ea46";
$icon-filter-search: "\ea47";
$icon-filter-square: "\ea48";
$icon-filter-tick: "\ea49";
$icon-finger-cricle: "\ea4a";
$icon-finger-scan: "\ea4b";
$icon-firstline: "\ea4c";
$icon-flag: "\ea4d";
$icon-flag-2: "\ea4e";
$icon-flash: "\ea4f";
$icon-flash-1: "\ea50";
$icon-flash-circle: "\ea51";
$icon-flash-circle-1: "\ea52";
$icon-flash-slash: "\ea53";
$icon-folder: "\ea54";
$icon-folder-2: "\ea55";
$icon-folder-add: "\ea56";
$icon-folder-cloud: "\ea57";
$icon-folder-connection: "\ea58";
$icon-folder-cross: "\ea59";
$icon-folder-favorite: "\ea5a";
$icon-folder-minus: "\ea5b";
$icon-folder-open: "\ea5c";
$icon-forbidden: "\ea5d";
$icon-forbidden-2: "\ea5e";
$icon-format-circle: "\ea5f";
$icon-format-square: "\ea60";
$icon-forward: "\ea61";
$icon-forward-5-seconds: "\ea62";
$icon-forward-10-seconds: "\ea63";
$icon-forward-15-seconds: "\ea64";
$icon-forward-item: "\ea65";
$icon-forward-square: "\ea66";
$icon-frame: "\ea67";
$icon-frame-1: "\ea68";
$icon-frame-2: "\ea69";
$icon-frame-3: "\ea6a";
$icon-frame-4: "\ea6b";
$icon-gallery: "\ea6c";
$icon-gallery-add: "\ea6d";
$icon-gallery-edit: "\ea6e";
$icon-gallery-export: "\ea6f";
$icon-gallery-favorite: "\ea70";
$icon-gallery-import: "\ea71";
$icon-gallery-remove: "\ea72";
$icon-gallery-slash: "\ea73";
$icon-gallery-tick: "\ea74";
$icon-game: "\ea75";
$icon-gameboy: "\ea76";
$icon-gas-station: "\ea77";
$icon-gemini: "\ea78";
$icon-gemini-2: "\ea79";
$icon-ghost: "\ea7a";
$icon-gift: "\ea7b";
$icon-glass: "\ea7c";
$icon-glass-1: "\ea7d";
$icon-global: "\ea7e";
$icon-global-edit: "\ea7f";
$icon-global-refresh: "\ea80";
$icon-global-search: "\ea81";
$icon-gps: "\ea82";
$icon-gps-slash: "\ea83";
$icon-grammerly: "\ea84";
$icon-graph: "\ea85";
$icon-grid-1: "\ea86";
$icon-grid-2: "\ea87";
$icon-grid-3: "\ea88";
$icon-grid-4: "\ea89";
$icon-grid-5: "\ea8a";
$icon-grid-6: "\ea8b";
$icon-grid-7: "\ea8c";
$icon-grid-8: "\ea8d";
$icon-grid-9: "\ea8e";
$icon-grid-edit: "\ea8f";
$icon-grid-eraser: "\ea90";
$icon-grid-lock: "\ea91";
$icon-happyemoji: "\ea92";
$icon-hashtag: "\ea93";
$icon-hashtag-1: "\ea94";
$icon-hashtag-down: "\ea95";
$icon-hashtag-up: "\ea96";
$icon-headphone: "\ea97";
$icon-headphones: "\ea98";
$icon-health: "\ea99";
$icon-heart: "\ea9a";
$icon-heart-add: "\ea9b";
$icon-heart-circle: "\ea9c";
$icon-heart-edit: "\ea9d";
$icon-heart-remove: "\ea9e";
$icon-heart-search: "\ea9f";
$icon-heart-slash: "\eaa0";
$icon-heart-tick: "\eaa1";
$icon-hierarchy: "\eaa2";
$icon-hierarchy-2: "\eaa3";
$icon-hierarchy-3: "\eaa4";
$icon-hierarchy-square: "\eaa5";
$icon-hierarchy-square-2: "\eaa6";
$icon-hierarchy-square-3: "\eaa7";
$icon-home: "\eaa8";
$icon-home-1: "\eaa9";
$icon-home-2: "\eaaa";
$icon-home-hashtag: "\eaab";
$icon-home-trend-down: "\eaac";
$icon-home-trend-up: "\eaad";
$icon-home-wifi: "\eaae";
$icon-hospital: "\eaaf";
$icon-house: "\eab0";
$icon-house-2: "\eab1";
$icon-icon: "\eab2";
$icon-image: "\eab3";
$icon-import: "\eab4";
$icon-import-1: "\eab5";
$icon-import-2: "\eab6";
$icon-info-circle: "\eab7";
$icon-information: "\eab8";
$icon-instagram: "\eab9";
$icon-judge: "\eaba";
$icon-kanban: "\eabb";
$icon-key: "\eabc";
$icon-keyboard: "\eabd";
$icon-keyboard-open: "\eabe";
$icon-key-square: "\eabf";
$icon-lamp: "\eac0";
$icon-lamp-1: "\eac1";
$icon-lamp-charge: "\eac2";
$icon-lamp-on: "\eac3";
$icon-lamp-slash: "\eac4";
$icon-language-circle: "\eac5";
$icon-language-square: "\eac6";
$icon-layer: "\eac7";
$icon-level: "\eac8";
$icon-lifebuoy: "\eac9";
$icon-like: "\eaca";
$icon-like-1: "\eacb";
$icon-like-dislike: "\eacc";
$icon-like-shapes: "\eacd";
$icon-like-tag: "\eace";
$icon-link: "\eacf";
$icon-link-1: "\ead0";
$icon-link-2: "\ead1";
$icon-link-21: "\ead2";
$icon-link-circle: "\ead3";
$icon-link-square: "\ead4";
$icon-location: "\ead5";
$icon-location-add: "\ead6";
$icon-location-cross: "\ead7";
$icon-location-minus: "\ead8";
$icon-location-slash: "\ead9";
$icon-location-tick: "\eada";
$icon-lock: "\eadb";
$icon-lock-1: "\eadc";
$icon-lock-circle: "\eadd";
$icon-lock-slash: "\eade";
$icon-login: "\eadf";
$icon-login-1: "\eae0";
$icon-logout: "\eae1";
$icon-logout-1: "\eae2";
$icon-lovely: "\eae3";
$icon-magicpen: "\eae4";
$icon-magic-star: "\eae5";
$icon-main-component: "\eae6";
$icon-man: "\eae7";
$icon-map: "\eae8";
$icon-map-1: "\eae9";
$icon-mask: "\eaea";
$icon-mask-1: "\eaeb";
$icon-mask-2: "\eaec";
$icon-math: "\eaed";
$icon-maximize: "\eaee";
$icon-maximize-1: "\eaef";
$icon-maximize-2: "\eaf0";
$icon-maximize-3: "\eaf1";
$icon-maximize-4: "\eaf2";
$icon-maximize-21: "\eaf3";
$icon-maximize-circle: "\eaf4";
$icon-medal: "\eaf5";
$icon-medal-star: "\eaf6";
$icon-menu: "\eaf7";
$icon-menu-1: "\eaf8";
$icon-menu-board: "\eaf9";
$icon-message: "\eafa";
$icon-message-2: "\eafb";
$icon-message-add: "\eafc";
$icon-message-add-1: "\eafd";
$icon-message-circle: "\eafe";
$icon-message-edit: "\eaff";
$icon-message-favorite: "\eb00";
$icon-message-minus: "\eb01";
$icon-message-notif: "\eb02";
$icon-message-programming: "\eb03";
$icon-message-question: "\eb04";
$icon-message-remove: "\eb05";
$icon-messages: "\eb06";
$icon-messages-1: "\eb07";
$icon-messages-2: "\eb08";
$icon-messages-3: "\eb09";
$icon-message-search: "\eb0a";
$icon-message-square: "\eb0b";
$icon-message-text: "\eb0c";
$icon-message-text-1: "\eb0d";
$icon-message-tick: "\eb0e";
$icon-message-time: "\eb0f";
$icon-microphone: "\eb10";
$icon-microphone-2: "\eb11";
$icon-microphone-slash: "\eb12";
$icon-microphone-slash-1: "\eb13";
$icon-microscope: "\eb14";
$icon-milk: "\eb15";
$icon-mini-music-sqaure: "\eb16";
$icon-minus: "\eb17";
$icon-minus-cirlce: "\eb18";
$icon-minus-square: "\eb19";
$icon-mirror: "\eb1a";
$icon-mirroring-screen: "\eb1b";
$icon-mobile: "\eb1c";
$icon-mobile-programming: "\eb1d";
$icon-money: "\eb1e";
$icon-money-2: "\eb1f";
$icon-money-3: "\eb20";
$icon-money-4: "\eb21";
$icon-money-add: "\eb22";
$icon-money-change: "\eb23";
$icon-money-forbidden: "\eb24";
$icon-money-recive: "\eb25";
$icon-money-remove: "\eb26";
$icon-moneys: "\eb27";
$icon-money-send: "\eb28";
$icon-money-tick: "\eb29";
$icon-money-time: "\eb2a";
$icon-monitor: "\eb2b";
$icon-monitor-mobbile: "\eb2c";
$icon-monitor-recorder: "\eb2d";
$icon-moon: "\eb2e";
$icon-more: "\eb2f";
$icon-more-2: "\eb30";
$icon-more-circle: "\eb31";
$icon-more-square: "\eb32";
$icon-mouse: "\eb33";
$icon-mouse-1: "\eb34";
$icon-mouse-circle: "\eb35";
$icon-mouse-square: "\eb36";
$icon-music: "\eb37";
$icon-music-circle: "\eb38";
$icon-music-dashboard: "\eb39";
$icon-music-filter: "\eb3a";
$icon-music-library-2: "\eb3b";
$icon-musicnote: "\eb3c";
$icon-music-play: "\eb3d";
$icon-music-playlist: "\eb3e";
$icon-music-square: "\eb3f";
$icon-music-square-add: "\eb40";
$icon-music-square-remove: "\eb41";
$icon-music-square-search: "\eb42";
$icon-next: "\eb43";
$icon-note: "\eb44";
$icon-note-1: "\eb45";
$icon-note-2: "\eb46";
$icon-note-21: "\eb47";
$icon-note-add: "\eb48";
$icon-note-favorite: "\eb49";
$icon-note-remove: "\eb4a";
$icon-note-square: "\eb4b";
$icon-note-text: "\eb4c";
$icon-notification: "\eb4d";
$icon-notification-1: "\eb4e";
$icon-notification-bing: "\eb4f";
$icon-notification-circle: "\eb50";
$icon-notification-favorite: "\eb51";
$icon-notification-status: "\eb52";
$icon-omega-circle: "\eb53";
$icon-omega-square: "\eb54";
$icon-paintbucket: "\eb55";
$icon-paperclip: "\eb56";
$icon-paperclip-2: "\eb57";
$icon-password-check: "\eb58";
$icon-path: "\eb59";
$icon-path-2: "\eb5a";
$icon-path-square: "\eb5b";
$icon-pause: "\eb5c";
$icon-pause-circle: "\eb5d";
$icon-pen-add: "\eb5e";
$icon-pen-close: "\eb5f";
$icon-pen-remove: "\eb60";
$icon-pen-tool: "\eb61";
$icon-pen-tool-2: "\eb62";
$icon-people: "\eb63";
$icon-percentage-circle: "\eb64";
$icon-percentage-square: "\eb65";
$icon-personalcard: "\eb66";
$icon-pet: "\eb67";
$icon-pharagraphspacing: "\eb68";
$icon-picture-frame: "\eb69";
$icon-play: "\eb6a";
$icon-play-add: "\eb6b";
$icon-play-circle: "\eb6c";
$icon-play-cricle: "\eb6d";
$icon-play-remove: "\eb6e";
$icon-presention-chart: "\eb6f";
$icon-previous: "\eb70";
$icon-printer: "\eb71";
$icon-printer-slash: "\eb72";
$icon-profile-2user: "\eb73";
$icon-profile-add: "\eb74";
$icon-profile-circle: "\eb75";
$icon-profile-delete: "\eb76";
$icon-profile-remove: "\eb77";
$icon-profile-tick: "\eb78";
$icon-programming-arrow: "\eb79";
$icon-programming-arrows: "\eb7a";
$icon-quote-down: "\eb7b";
$icon-quote-down-circle: "\eb7c";
$icon-quote-down-square: "\eb7d";
$icon-quote-up: "\eb7e";
$icon-quote-up-circle: "\eb7f";
$icon-quote-up-square: "\eb80";
$icon-radar: "\eb81";
$icon-radar-1: "\eb82";
$icon-radar-2: "\eb83";
$icon-radio: "\eb84";
$icon-ram: "\eb85";
$icon-ram-2: "\eb86";
$icon-ranking: "\eb87";
$icon-ranking-1: "\eb88";
$icon-receipt: "\eb89";
$icon-receipt-1: "\eb8a";
$icon-receipt-2: "\eb8b";
$icon-receipt-2-1: "\eb8c";
$icon-receipt-add: "\eb8d";
$icon-receipt-discount: "\eb8e";
$icon-receipt-disscount: "\eb8f";
$icon-receipt-edit: "\eb90";
$icon-receipt-item: "\eb91";
$icon-receipt-minus: "\eb92";
$icon-receipt-search: "\eb93";
$icon-receipt-square: "\eb94";
$icon-receipt-text: "\eb95";
$icon-received: "\eb96";
$icon-receive-square: "\eb97";
$icon-receive-square-2: "\eb98";
$icon-record: "\eb99";
$icon-record-circle: "\eb9a";
$icon-recovery-convert: "\eb9b";
$icon-redo: "\eb9c";
$icon-refresh: "\eb9d";
$icon-refresh-circle: "\eb9f";
$icon-refresh-left-square: "\eba0";
$icon-refresh-right-square: "\eba1";
$icon-repeat: "\eba3";
$icon-repeat-circle: "\eba4";
$icon-repeate-music: "\eba5";
$icon-repeate-one: "\eba6";
$icon-reserve: "\eba7";
$icon-rotate-left: "\eba8";
$icon-rotate-left-1: "\eba9";
$icon-rotate-right: "\ebaa";
$icon-rotate-right-1: "\ebab";
$icon-route-square: "\ebac";
$icon-routing: "\ebad";
$icon-routing-2: "\ebae";
$icon-row-horizontal: "\ebaf";
$icon-row-vertical: "\ebb0";
$icon-rulerpen: "\ebb1";
$icon-ruler: "\ebb2";
$icon-safe-home: "\ebb3";
$icon-sagittarius: "\ebb4";
$icon-save-2: "\ebb5";
$icon-save-add: "\ebb6";
$icon-save-minus: "\ebb7";
$icon-save-remove: "\ebb8";
$icon-scan: "\ebb9";
$icon-scan-barcode: "\ebba";
$icon-scanner: "\ebbb";
$icon-scanning: "\ebbc";
$icon-scissor: "\ebbd";
$icon-scissor-1: "\ebbe";
$icon-screenmirroring: "\ebbf";
$icon-scroll: "\ebc0";
$icon-search-favorite: "\ebc1";
$icon-search-favorite-1: "\ebc2";
$icon-search-normal: "\ebc3";
$icon-search-normal-1: "\ebc4";
$icon-search-status: "\ebc5";
$icon-search-status-1: "\ebc6";
$icon-search-zoom-in: "\ebc7";
$icon-search-zoom-in-1: "\ebc8";
$icon-search-zoom-out: "\ebc9";
$icon-search-zoom-out-1: "\ebca";
$icon-security: "\ebcb";
$icon-security-card: "\ebcc";
$icon-security-safe: "\ebcd";
$icon-security-time: "\ebce";
$icon-security-user: "\ebcf";
$icon-send: "\ebd0";
$icon-send-1: "\ebd1";
$icon-send-2: "\ebd2";
$icon-send-sqaure-2: "\ebd3";
$icon-send-square: "\ebd4";
$icon-setting: "\ebd5";
$icon-setting-2: "\ebd6";
$icon-setting-3: "\ebd7";
$icon-setting-4: "\ebd8";
$icon-setting-5: "\ebd9";
$icon-settings: "\ebda";
$icon-shapes: "\ebdb";
$icon-shapes-1: "\ebdc";
$icon-share: "\ebdd";
$icon-shield: "\ebde";
$icon-shield-cross: "\ebdf";
$icon-shield-search: "\ebe0";
$icon-shield-slash: "\ebe1";
$icon-shield-tick: "\ebe2";
$icon-ship: "\ebe3";
$icon-shop: "\ebe4";
$icon-shop-add: "\ebe5";
$icon-shopping-bag: "\ebe6";
$icon-shopping-cart: "\ebe7";
$icon-shop-remove: "\ebe8";
$icon-shuffle: "\ebe9";
$icon-sidebar-bottom: "\ebea";
$icon-sidebar-left: "\ebeb";
$icon-sidebar-right: "\ebec";
$icon-sidebar-top: "\ebed";
$icon-signpost: "\ebee";
$icon-simcard: "\ebef";
$icon-simcard-1: "\ebf0";
$icon-simcard-2: "\ebf1";
$icon-size: "\ebf2";
$icon-slash: "\ebf3";
$icon-slider: "\ebf4";
$icon-slider-horizontal: "\ebf5";
$icon-slider-horizontal-1: "\ebf6";
$icon-slider-vertical: "\ebf7";
$icon-slider-vertical-1: "\ebf8";
$icon-smallcaps: "\ebf9";
$icon-smart-car: "\ebfa";
$icon-smart-home: "\ebfb";
$icon-smileys: "\ebfc";
$icon-sms: "\ebfd";
$icon-sms-edit: "\ebfe";
$icon-sms-notification: "\ebff";
$icon-sms-search: "\ec00";
$icon-sms-star: "\ec01";
$icon-sms-tracking: "\ec02";
$icon-sort: "\ec03";
$icon-sound: "\ec04";
$icon-speaker: "\ec05";
$icon-speedometer: "\ec06";
$icon-star: "\ec07";
$icon-star-1: "\ec08";
$icon-star-slash: "\ec09";
$icon-status: "\ec0a";
$icon-status-up: "\ec0b";
$icon-sticker: "\ec0c";
$icon-stickynote: "\ec0d";
$icon-stop: "\ec0e";
$icon-stop-circle: "\ec0f";
$icon-story: "\ec10";
$icon-strongbox: "\ec11";
$icon-strongbox-2: "\ec12";
$icon-subtitle: "\ec13";
$icon-sun: "\ec14";
$icon-sun-1: "\ec15";
$icon-sun-fog: "\ec16";
$icon-tag: "\ec17";
$icon-tag-2: "\ec18";
$icon-tag-cross: "\ec19";
$icon-tag-right: "\ec1a";
$icon-tag-user: "\ec1b";
$icon-task: "\ec1c";
$icon-task-square: "\ec1d";
$icon-teacher: "\ec1e";
$icon-text: "\ec1f";
$icon-textalign-center: "\ec20";
$icon-textalign-justifycenter: "\ec21";
$icon-textalign-justifyleft: "\ec22";
$icon-textalign-justifyright: "\ec23";
$icon-textalign-left: "\ec24";
$icon-textalign-right: "\ec25";
$icon-text-block: "\ec26";
$icon-text-bold: "\ec27";
$icon-text-italic: "\ec28";
$icon-text-underline: "\ec29";
$icon-tick-circle: "\ec2a";
$icon-ticket: "\ec2b";
$icon-ticket-2: "\ec2c";
$icon-ticket-discount: "\ec2d";
$icon-ticket-expired: "\ec2e";
$icon-ticket-star: "\ec2f";
$icon-tick-square: "\ec30";
$icon-timer: "\ec31";
$icon-timer-1: "\ec32";
$icon-timer-pause: "\ec33";
$icon-timer-start: "\ec34";
$icon-toggle-off: "\ec35";
$icon-toggle-off-circle: "\ec36";
$icon-toggle-on: "\ec37";
$icon-toggle-on-circle: "\ec38";
$icon-trade: "\ec39";
$icon-transaction-minus: "\ec3a";
$icon-translate: "\ec3b";
$icon-trash: "\ec3c";
$icon-tree: "\ec3d";
$icon-trend-down: "\ec3e";
$icon-trend-up: "\ec3f";
$icon-triangle: "\ec40";
$icon-truck: "\ec41";
$icon-truck-fast: "\ec42";
$icon-truck-remove: "\ec43";
$icon-truck-tick: "\ec44";
$icon-truck-time: "\ec45";
$icon-trush-square: "\ec46";
$icon-undo: "\ec47";
$icon-unlimited: "\ec48";
$icon-unlock: "\ec49";
$icon-user: "\ec4a";
$icon-user-add: "\ec4b";
$icon-user-cirlce-add: "\ec4c";
$icon-user-edit: "\ec4d";
$icon-user-minus: "\ec4e";
$icon-user-octagon: "\ec4f";
$icon-user-remove: "\ec50";
$icon-user-search: "\ec51";
$icon-user-tag: "\ec53";
$icon-user-tick: "\ec54";
$icon-verify: "\ec55";
$icon-video: "\ec56";
$icon-video-add: "\ec57";
$icon-video-circle: "\ec58";
$icon-video-horizontal: "\ec59";
$icon-video-octagon: "\ec5a";
$icon-video-play: "\ec5b";
$icon-video-remove: "\ec5c";
$icon-video-slash: "\ec5d";
$icon-video-square: "\ec5e";
$icon-video-tick: "\ec5f";
$icon-video-time: "\ec60";
$icon-video-vertical: "\ec61";
$icon-voice-cricle: "\ec62";
$icon-voice-square: "\ec63";
$icon-volume-cross: "\ec64";
$icon-volume-high: "\ec65";
$icon-volume-low: "\ec66";
$icon-volume-low-1: "\ec67";
$icon-volume-mute: "\ec68";
$icon-volume-slash: "\ec69";
$icon-volume-up: "\ec6a";
$icon-wallet: "\ec6b";
$icon-wallet-1: "\ec6c";
$icon-wallet-2: "\ec6d";
$icon-wallet-3: "\ec6e";
$icon-wallet-add: "\ec6f";
$icon-wallet-add-1: "\ec70";
$icon-wallet-check: "\ec71";
$icon-wallet-minus: "\ec72";
$icon-wallet-money: "\ec73";
$icon-wallet-remove: "\ec74";
$icon-wallet-search: "\ec75";
$icon-warning-2: "\ec76";
$icon-watch: "\ec77";
$icon-watch-status: "\ec78";
$icon-weight: "\ec79";
$icon-weight-1: "\ec7a";
$icon-wifi: "\ec7b";
$icon-wifi-square: "\ec7c";
$icon-wind: "\ec7d";
$icon-wind-2: "\ec7e";
$icon-woman: "\ec7f";

