.documentation {
    width: fit-content;
    padding: 35px;
    box-sizing: border-box;
}

.section-content>.documentation {
    width: 100%;
}

#gerer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 710px) {
    .documentation {
        padding: 25px 15px;
    }
}