#search {
	padding:13px 25px;
	border-radius:50px;
	width:fit-content;
}
#search .input {
	font-size: 1.1em;
	min-width: 30ex;
	display: inline-block;
}
#search .input:focus {
	outline: none;
}
#search:before {
	font-size:1.6em;
	/* color:inherit; */
}
.documentation_liste {
	display: flex;
	flex-wrap: nowrap;
	width:100%;
	border-radius: 25px;
	padding: 20px;
	margin-top:15px;
	box-sizing: border-box;
}
.documentation_liste .picto p {
	font-size: 1.3em;
	margin-block: 0;
	font-family: 'icomoon';
}
.documentation_liste .titre {
	transition: color 0.1s cubic-bezier(0.8,0,0,0.8);
}
.documentation_liste:hover .titre {
	color: var(--couleur_accentuation);
}