.liste_comite_club {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.6em;

    & .comite_club {
        flex-grow: 1;

        & .logo {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            border-radius: 500px;
            background: var(--gris_2);

            & img {
                border-radius: 500px;
            }
            & .cercle {
                border-radius: 500px;
                border: 2px solid;
                position: absolute;
                left: 5%;
                top: 5%;
                width: 90%;
                height: 90%;
                box-sizing: border-box;
                transition: border 0.1s ease-in-out;
            }
        }

        & .info {
            & .nom {
                line-height: 0.8em;
                margin-block-start: 0.3em;
                margin-block-end: 0.3em;
                text-transform: capitalize;
            }
            .categories {
                color: var(--couleur_police_secondaire);

                & > span {
                    text-transform: capitalize;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .liste_comite_club {
        gap: 20px 20px;
        & .comite_club {
            width: 240px;

            & .logo {
                width: 200px;
                height: 200px;

                & img {
                    width: 84%;
                    margin: 8%;
                }

                &:hover .cercle {
                    border: 5px solid;
                }
            }
            & .info .nom {
                font-size: 2em;
            }
            & .info .categories {
                font-size: 0.85em;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 5px;

                & > span {
                    background: var(--gris_1);
                    padding: 4px 15px 5px 15px;
                    border-radius: 50px;
                }
            }
        }
    }
}

@media (max-width: 599.98px) {
    .liste_comite_club {
        gap: 10px 10px;
        & .comite_club {
            width: 160px;

            & .logo {
                width: 130px;
                height: 130px;

                & img {
                    width: 80%;
                    margin: 10%;
                }

                &:hover .cercle {
                    border: 3.5px solid;
                }
            }
            & .info .nom {
                font-size: 1.3em;
            }
            & .info .categories {
                font-size: 0.55em;
            }
        }
    }
}
