input {
	border: none;
	background:unset;
	color:inherit;
}
input:focus {
	border:none;
	outline:none;
}
p {
	margin-block-start: inherit;
	margin-block-end: inherit;
	margin-inline-start: inherit;
	margin-block-end: inherit;
}
textarea {
	border:none;
	background: unset;
	resize:none;
    color:inherit;
	font-family: inherit;
}
textarea:focus {
	outline:none;
}

.groupe {
	display: grid;
    padding: 13px 18px;
    border-radius: 25px;
    font-size: 1em;
	color:inherit;
    margin:10px 0px;
    max-width: 100%;
    box-sizing: border-box;
	border: 1px solid var(--gris_1);
	transition: border 0.15s ease-in-out;
}
.groupe:focus-within {
	border: 1px solid var(--couleur_accentuation_air);
}

fieldset {
	margin: 9px 0px;
	display: grid;
	border-radius: 10px;
	border: 1px solid rgba(127,127,127,1);
}
fieldset legend {
	font-size: 1.3em;
	font-weight: 600;
}

.input_groupe {
	padding: 5px 5px;
	margin: 3px 0px;
}
.input_groupe > .titre {
	transition: opacity 0.15s cubic-bezier(0.8,0,0,0.8);
	user-select: none;
	font-size: 1.1em;
}
.input_groupe:focus-within > .titre{
	opacity: 0.8;
}
.input_groupe > .description {
	color: var(--couleur_police_secondaire);
	font-size: 0.8em;
}

.input_groupe > .input {
	display: inline-block;
	margin-left:5px;
	padding:5px;
	border-radius: 8px;
	font-size: 1em;
	min-width:10ex;
	background-color: var(--gris_2);
	color: var(--couleur_police_secondaire);
	border: 1px solid transparent;
	transition: border 0.2s ease-in-out;
}

.input_groupe > .input.erreur {
	border:1px solid #c70e0e;
}
.input_groupe > .input::placeholder{
	color:inherit;
	opacity:0.6;
}
.input_groupe textarea {
    width:100%;
	margin-top:8px;
	padding:5px;
	box-sizing: border-box;
	font-size:1em;
	background-color: var(--gris_2);
	border-radius: 8px;
	color: var(--couleur_police_secondaire);
}
.input_groupe.radio {
	display:grid;
	color: var(--couleur_police_secondaire);
}