:root{
	--couleur_accentuation:#c8152a;
}

html, body {
	margin: 0;
	padding:0;
	left:0;
	top:0;
	height:100%;
	box-sizing:border-box;
	font-family: system-ui;
	background-attachment: fixed !important;
}

a {
	text-decoration:none;
	color:inherit;
}
a:hover {
	text-decoration:none;
	color:inherit;
}
a[href^="mailto:"], a[href^="http"]{
	text-decoration: underline;
	position: relative;
	padding: 1px 5px;
	margin-right:1.6em;
}
a[href^="mailto:"]:after, a[href^="http"]:after{
	font-family: 'icomoon' !important;
	font-style: normal;
	position:absolute;
	margin-top: 0.25em;
	margin-left:0.5em;
}
a[href^="mailto:"]:after{
	content: "\e91f" !important;
}
a[href^="http"]:after{
	content: "\e91c" !important;
}

/* Main Content */
#wrapper{
	width: 100%;
	min-height: 100%;
	position: absolute;
	box-sizing:border-box;
}
#contenu{
	padding:30px
}

h1{
	text-align: center;
}
p.explication {
	text-align: justify;
	text-align-last: left;
	margin-bottom: 30px;
}

.centre-element {
	margin-left:auto !important;
	margin-right:auto !important;
	width:fit-content !important;
	display:block;
}
.centre-enfant {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.centre-vertical-enfant {
	align-items: center;
}

.bouton {
	padding: 10px 25px 12px 25px;
	font-size:1.1em;
	width: fit-content;
	border-radius:50px;
	cursor:pointer;
	user-select: none;
	margin:15px;
	min-width: 100px;
	text-align: center;
	font-family: system-ui;
}
.bouton span {
	vertical-align: middle;
}
.bouton[class*="icon-before-"]:before,.bouton[class*="icon-after-"]:after {
	font-size:1.6em;
}
.bouton[disabled] {
	opacity:0.4;
	cursor:not-allowed;
}
.bouton:hover {
	color:var(--couleur_accentuation);
}
.bouton.primaire {
	color:#fff;
	box-shadow: 0px 0px 0px 0px #c8152a;
	transition: box-shadow,background-color 0.1s ease-in-out;
	border:none;
}
.bouton.secondaire {
	border:1px solid #c8152a;
	background: transparent;
	color: #c8152a;
	transition: background 0.1s ease-in-out;
}
.bouton.tertiaire {
	background: transparent;
	color: #c8152a;
	transition: background 0.1s ease-in-out;
}



body.dark-theme {
	background: linear-gradient(103deg, rgba(30,30,30,1) 0%, rgba(19,19,19,1) 100%);
	color: #fff;
}
body.light-theme {
	background: linear-gradient(103deg, rgba(244,244,244,1) 0%, rgb(201, 201, 206) 100%);
	color:#000;
}



body.dark-theme .fond {
	background-color: #292929;
}
body.light-theme .fond {
	background-color: #F6F6F7;
}

body.dark-theme .ombre_grande {
	box-shadow:5px 5px 10px 0px rgb(0,0,0,0.8), -5px -5px 7px 0px rgba(255,255,255,0.2); 
}
body.light-theme .ombre_grande {
	box-shadow:5px 5px 10px 0px rgba(0,0,0,0.2), -5px -5px 5px 2px #ffffff; 
}

body.dark-theme .ombre_petite {
	box-shadow:3px 3px 8px 1px rgb(0,0,0), -2px -3px 6px 1px rgba(255,255,255,0.2); 
}
body.light-theme .ombre_petite {
	box-shadow:3px 3px 8px 1px rgba(0,0,0,0.2), -4px -4px 5px 0px #ffffff; 
}

body.dark-theme .ombre_inset {
	box-shadow:3px 3px 8px 1px rgb(0,0,0,0.7) inset, -2px -3px 6px 1px rgba(255,255,255,0.2) inset; 
}
body.light-theme .ombre_inset {
	box-shadow:3px 3px 8px 1px rgba(0,0,0,0.2) inset, -4px -4px 4px 0px #ffffff inset; 
}



body.dark-theme .bouton.primaire {
	background-color: var(--couleur_accentuation);
}
body.light-theme .bouton.primaire {
	background-color: var(--couleur_accentuation);
}
body.dark-theme .bouton.primaire:hover {
	background-color: #c8152aa8;
}
body.light-theme .bouton.primaire:hover {
	background-color: #c8152ab6;
}
/* body.dark-theme .bouton.secondaire, body.dark-theme .bouton.tertiaire {
	background-color: #292929;
}
body.light-theme .bouton.secondaire, body.light-theme .bouton.tertiaire {
	background-color: #F6F6F7;
} */
body.dark-theme .bouton.secondaire:hover, body.dark-theme .bouton.tertiaire:hover {
	background-color: #c8152a38;
}
body.light-theme .bouton.secondaire:hover, body.light-theme .bouton.tertiaire:hover {
	background-color: #c8152a38;
}
