html, body {
	margin: 0;
	padding:0;
	left:0;
	top:0;
	height:100%;
	box-sizing:border-box;
	font-family: system-ui;
	background-attachment: fixed !important;
}

a {
	text-decoration:none;
	color:inherit;
	&:hover {
		text-decoration:none;
		color:inherit;
	}
}
a[target="_blank"] {
	position: relative;
	display: inline-block;
	padding-right: 1rem;
}

a[target="_blank"]:before {
	content: " \2197";
	position: absolute;
	right: 0;
}

@font-face {
	font-family: 'GearsOfPeace';
	src: url('../fonts/GearsOfPeace.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

/* Main Content */
#wrapper{
	width: 100%;
	min-height: 100%;
	position: absolute;
	box-sizing:border-box;
	display:flex;
	align-items:center;
	justify-content:center;
}

#contenu {
	@media (max-width: 499.98px) {
		&.tres_petit{
		width:100%;
		}
	}
	@media (min-width: 500px) {
		&.tres_petit{
		width:500px;
		padding:30px;
		}
	}

	@media (max-width: 767.98px) {
		&.petit{
		width:100%;
		}
	}
	@media (min-width: 768px) {
		&.petit{
		width:768px;
		padding:30px;
		}
	}

	@media (max-width: 1049.98px) {
		&.moyen{
			width:100%;
		}
	}
	@media (min-width: 1050px) {
		&.moyen{
			width:1050px;
			padding:30px;
		}
	}

	@media (max-width: 1299.98px) {
		&.grand{
			width:100%;
		}
	}
	@media (min-width: 1300px) {
		&.grand{
			width:1300px;
			padding:30px;
		}
	}

	&.entier{
		width:100%;
	}
}

h1{
	margin-block-start: 0em;
	text-align: center;
}
p.explication {
	text-align: justify;
	text-align-last: left;
	margin-bottom: 30px;
}

.centre-element {
	margin-left:auto !important;
	margin-right:auto !important;
	display:block;
}
.centre-enfants {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}
.grille-enfants {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.centre-vertical-enfant {
	align-items: center;
}

.texte_petit {
	font-size:0.7em;
}

.bouton {
	padding: 10px 25px 12px 25px;
	font-size:1.1em;
	border-radius:50px;
	min-width: 100px;
	width: fit-content;
	display:block;
	cursor:pointer;
	user-select: none;
	text-align: center;
	font-family: system-ui;
	transition: padding 0.15s ease-in-out;
	
	&[class^="iconsax-"]:before,&[class^="iconsax-"]:after {
		font-size:1.3em;
	}
	&[disabled] {
		opacity:0.4;
		cursor:not-allowed;
	}
	&:hover {
		padding: 10px 20px 12px 30px;
	}
	& span {
		vertical-align: middle;
	}
	
	&.margin_tout {
		margin:15px;
	}
	&.margin_vertical {
		margin:15px 0px;
	}

	&.primaire {
		color:var(--couleur_police_accentuation);
		background-color: var(--couleur_accentuation);
		border:none;
		text-transform: uppercase;
	}
	&.secondaire {
		border:1px solid var(--couleur_accentuation);
		background: transparent;
		color: var(--couleur_accentuation);
		// transition: border 0.1s ease-in-out;
	}
	&.tertiaire {
		background: transparent;
		color: var(--couleur_police_primaire);
		border-width: 1px;
		border-style: solid;
		border-color: var(--couleur_police_secondaire);
		// transition: border-color 0.1s ease-in-out;
	}
}

body.dark-theme {
	background: var(--gris_3);
	color: #fff;

	--gris_1: #2e2e33;
	--gris_2: #212227;
	--gris_3: #17191b;
	--couleur_accentuation_air:#cc3345;
	--couleur_accentuation:#5e25ef;
	--couleur_police_accentuation_air:#ffffff;
	--couleur_police_accentuation:#ffffff;
	--couleur_police_primaire:#ffffff;
	--couleur_police_secondaire:#c5c5c5;

	& .ombre_grande {
		box-shadow:0px 13px 26px 0px rgba(0, 0, 0, 0.4);
	}
	& .ombre_petite {
		box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.2); 
	}
	& .ombre_inset {
		box-shadow:0px 2px 5px 1px rgb(0,0,0,0.2) inset; 
	}
	
	& a.couleur {
		text-decoration:underline;
		color: #98cbff;
	}
	& a.couleur:hover {
		color: #759aff;
	}
}
 
body.light-theme {
	background: var(--gris_3);
	color:#000;

	--gris_1: #ececec;
	--gris_2: #fcfcfc;
	--gris_3: #f5f5f5;
	--couleur_accentuation_air:#c6152a;
	--couleur_accentuation:#4b14d6;
	--couleur_police_accentuation_air:#ffffff;
	--couleur_police_accentuation:#ffffff;
	--couleur_police_primaire:#000000;
	--couleur_police_secondaire:#3d3d3d;

	& .ombre_grande {
		box-shadow:0px 13px 26px 0px rgba(0, 0, 0, 0.15);
	}
	& .ombre_petite {
		box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.15); 
	}
	& .ombre_inset {
		box-shadow:0px 2px 5px 1px rgba(0, 0, 0, 0.2) inset;
	}

	& a.couleur {
		text-decoration:underline;
		color: #414fd8;
	}
	& a.couleur:hover {
		color: #7f8bf7;
	}
}