/* Style général de la page */
@import "./importants/layout";

.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 220px;
}

.logo img {
    width: 100%;
    border-radius: 300px;
}

.logo a:before {
    position: absolute;
    z-index: 2;
    top: 170px;
    left: 170px;
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    background: var(--background-color);
}

.description {
    margin-top: 40px;
}

.conteneur_boutons {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gros_bouton {
    width: 200px;
    height: 200px;
    border: 1px solid var(--light-grey);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background: var(--grey);
    transition: background 0.15s ease-in-out;
}

.gros_bouton:hover {
    background: var(--dark-grey);
}