/* Style général de la page */
@import "./importants/layout-without-sidebar";


#profil {
    padding: 20px;
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
}

#photo_profil {
    max-width: 260px;
    max-height: 260px;
    flex-basis: 260px;
    margin-left: auto;
    margin-right: auto;
}

#photo_profil img {
    width: 100%;
    border-radius: 300px;
}

#info_profil {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    flex-basis: 40ch;
    row-gap: 20px;
}

#ligne_prenoms {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#prenoms {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

#prenoms h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#prenoms .pronoms {
    color: grey;
    font-weight: normal;
}

#reglages {
    font-size: 1.5em;
    transform: rotate(0deg);
    transition-duration: 0.7s;
}

#reglages:hover {
    color: var(--couleur_police_secondaire);
    transform: rotate(60deg);
    transition-duration: 0.7s;
}

#menu_meatballs {
    /* display:none; */
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    background: var(--gris_1);
    padding-inline-start: 0px;
}

#menu_meatballs li {
    display: block;
    width: 100%;
    list-style-type: none;
}

#menu_meatballs li a {
    padding: 10px 20px;
    display: inline-block;
}

#menu_meatballs li #menu_deconnexion {
    color: var(--couleur_accentuation);
}

#menu_meatballs li a:hover {
    color: var(--couleur_police_secondaire);
}

#menu_meatballs li #menu_deconnexion:hover {
    color: var(--couleur_police_secondaire);
}

#reglages:hover #menu_meatballs {
    display: block;
}

#bio {
    max-width: 80ch;
    text-align: justify;
    overflow-wrap: break-word;
}

#boutons_selections_categorie {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.reseaux_sociaux {
    margin-top: 12px;
    gap: 12px;
}

.reseaux_sociaux>a {
    padding: 10px 18px;
    border-radius: 50px;
}