@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-before-"]:before, [class*=" icon-before-"]:before {
	font-family: 'icomoon' !important;
	margin-right:1em;
	vertical-align: middle;
}

[class^="icon-after-"]:after, [class*=" icon-after-"]:after {
	font-family: 'icomoon' !important;
	margin-left:1em;
	vertical-align: middle;
}
body.dark-theme [class^="icon-"]:before, [class*=" icon-"]:before {
	color:rgb(255, 255, 255);
}
body.light-theme [class^="icon-"]:before, [class*=" icon-"]:before {
	color:#000;
}

.icon-before-ampoule-off:before {content: "\e90d";}
.icon-before-fleche-circulaire:before {content: "\e90e";}
.icon-before-fleche-carre:before {content: "\e90f";}
.icon-before-fleche-simple:before {content: "\e910";}
.icon-before-fleche:before {content: "\e911";}
.icon-before-loupe:before {content: "\e912";}
.icon-before-video:before {content: "\e913";}
.icon-before-plus-carre:before {content: "\e914";}
.icon-before-filtre:before {content: "\e915";}
.icon-before-image:before {content: "\e916";}
.icon-before-telephone:before {content: "\e917";}
.icon-before-croix-carre:before {content: "\e918";}
.icon-before-coche-carre:before {content: "\e919";}
.icon-before-croix:before {content: "\e91a";}
.icon-before-coche:before {content: "\e91b";}
.icon-before-web:before {content: "\e91c";}
.icon-before-poubelle:before {content: "\e91d";}
.icon-before-cloche:before {content: "\e91e";}
.icon-before-arobase:before {content: "\e91f";}
.icon-before-event-ajouter:before {content: "\e920";}
.icon-before-event-supprimer:before {content: "\e921";}
.icon-before-event-valider:before {content: "\e922";}
.icon-before-mail:before {content: "\e900";}
.icon-before-document:before {content: "\e901";}
.icon-before-document1:before {content: "\e902";}
.icon-before-envoyer:before {content: "\e903";}
.icon-before-profil:before {content: "\e904";}
.icon-before-ampoule-on:before {content: "\e905";}
.icon-before-lune:before {content: "\e906";}
.icon-before-tulipe:before {content: "\e907";}
.icon-before-montagne:before {content: "\e908";}
.icon-before-pin:before {content: "\e909";}
.icon-before-avion:before {content: "\e90a";}
.icon-before-maison:before {content: "\e90b";}
.icon-before-terre:before {content: "\e90c";}

.icon-after-ampoule-off:after {content: "\e90d";}
.icon-after-fleche-circulaire:after {content: "\e90e";}
.icon-after-fleche-carre:after {content: "\e90f";}
.icon-after-fleche-simple:after {content: "\e910";}
.icon-after-fleche:after {content: "\e911";}
.icon-after-loupe:after {content: "\e912";}
.icon-after-video:after {content: "\e913";}
.icon-after-plus-carre:after {content: "\e914";}
.icon-after-filtre:after {content: "\e915";}
.icon-after-image:after {content: "\e916";}
.icon-after-telephone:after {content: "\e917";}
.icon-after-croix-carre:after {content: "\e918";}
.icon-after-coche-carre:after {content: "\e919";}
.icon-after-croix:after {content: "\e91a";}
.icon-after-coche:after {content: "\e91b";}
.icon-after-web:after {content: "\e91c";}
.icon-after-poubelle:after {content: "\e91d";}
.icon-after-cloche:after {content: "\e91e";}
.icon-after-arobase:after {content: "\e91f";}
.icon-after-event-ajouter:after {content: "\e920";}
.icon-after-event-supprimer:after {content: "\e921";}
.icon-after-event-valider:after {content: "\e922";}
.icon-after-mail:after {content: "\e900";}
.icon-after-document:after {content: "\e901";}
.icon-after-document1:after {content: "\e902";}
.icon-after-envoyer:after {content: "\e903";}
.icon-after-profil:after {content: "\e904";}
.icon-after-ampoule-on:after {content: "\e905";}
.icon-after-lune:after {content: "\e906";}
.icon-after-tulipe:after {content: "\e907";}
.icon-after-montagne:after {content: "\e908";}
.icon-after-pin:after {content: "\e909";}
.icon-after-avion:after {content: "\e90a";}
.icon-after-maison:after {content: "\e90b";}
.icon-after-terre:after {content: "\e90c";}