@font-face {
  font-family: 'iconsax-bold';
  src:
    url('../fonts/iconsax-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'iconsax-outline';
  src:
    url('../fonts/iconsax-outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconsax-"]:before {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsax-outline:before {
  font-family: 'iconsax-outline' !important;
}
.iconsax-bold:before {
  font-family: 'iconsax-bold' !important;
}

.iconsax-dcube:before {
  content: "\e900";
}
.iconsax-d-cube-scan:before {
  content: "\e901";
}
.iconsax-d-rotate:before {
  content: "\e902";
}
.iconsax-d-square:before {
  content: "\e903";
}
.iconsax-square:before {
  content: "\e904";
}
.iconsax-support:before {
  content: "\e905";
}
.iconsax-activity:before {
  content: "\e906";
}
.iconsax-add:before {
  content: "\e907";
}
.iconsax-add-circle:before {
  content: "\e908";
}
.iconsax-additem:before {
  content: "\e909";
}
.iconsax-add-square:before {
  content: "\e90a";
}
.iconsax-airdrop:before {
  content: "\e90b";
}
.iconsax-airplane:before {
  content: "\e90c";
}
.iconsax-airplane-square:before {
  content: "\e90d";
}
.iconsax-airpod:before {
  content: "\e90e";
}
.iconsax-airpods:before {
  content: "\e90f";
}
.iconsax-alarm:before {
  content: "\e910";
}
.iconsax-align-bottom:before {
  content: "\e911";
}
.iconsax-align-horizontally:before {
  content: "\e912";
}
.iconsax-align-left:before {
  content: "\e913";
}
.iconsax-align-right:before {
  content: "\e914";
}
.iconsax-align-vertically:before {
  content: "\e915";
}
.iconsax-aquarius:before {
  content: "\e916";
}
.iconsax-archive:before {
  content: "\e917";
}
.iconsax-archive-1:before {
  content: "\e918";
}
.iconsax-archive-2:before {
  content: "\e919";
}
.iconsax-archive-add:before {
  content: "\e91a";
}
.iconsax-archive-book:before {
  content: "\e91b";
}
.iconsax-archive-minus:before {
  content: "\e91c";
}
.iconsax-archive-slash:before {
  content: "\e91d";
}
.iconsax-archive-tick:before {
  content: "\e91e";
}
.iconsax-arrange-circle:before {
  content: "\e91f";
}
.iconsax-arrange-circle-2:before {
  content: "\e920";
}
.iconsax-arrange-square:before {
  content: "\e921";
}
.iconsax-arrange-square-2:before {
  content: "\e922";
}
.iconsax-arrow:before {
  content: "\e923";
}
.iconsax-arrow-2:before {
  content: "\e924";
}
.iconsax-arrow-3:before {
  content: "\e925";
}
.iconsax-arrow-bottom:before {
  content: "\e926";
}
.iconsax-arrow-circle-down:before {
  content: "\e927";
}
.iconsax-arrow-circle-left:before {
  content: "\e928";
}
.iconsax-arrow-circle-right:before {
  content: "\e929";
}
.iconsax-arrow-circle-up:before {
  content: "\e92a";
}
.iconsax-arrow-down:before {
  content: "\e92b";
}
.iconsax-arrow-down-1:before {
  content: "\e92c";
}
.iconsax-arrow-down-2:before {
  content: "\e92d";
}
.iconsax-arrow-left:before {
  content: "\e92e";
}
.iconsax-arrow-left-1:before {
  content: "\e92f";
}
.iconsax-arrow-left-2:before {
  content: "\e930";
}
.iconsax-arrow-left-3:before {
  content: "\e931";
}
.iconsax-arrow-right:before {
  content: "\e932";
}
.iconsax-arrow-right-1:before {
  content: "\e933";
}
.iconsax-arrow-right-2:before {
  content: "\e934";
}
.iconsax-arrow-right-3:before {
  content: "\e935";
}
.iconsax-arrow-square:before {
  content: "\e936";
}
.iconsax-arrow-square-down:before {
  content: "\e937";
}
.iconsax-arrow-square-left:before {
  content: "\e938";
}
.iconsax-arrow-square-up:before {
  content: "\e939";
}
.iconsax-arrow-swap:before {
  content: "\e93a";
}
.iconsax-arrow-swap-horizontal:before {
  content: "\e93b";
}
.iconsax-arrow-up:before {
  content: "\e93c";
}
.iconsax-arrow-up-1:before {
  content: "\e93d";
}
.iconsax-arrow-up-2:before {
  content: "\e93e";
}
.iconsax-arrow-up-3:before {
  content: "\e93f";
}
.iconsax-attach-circle:before {
  content: "\e940";
}
.iconsax-attach-square:before {
  content: "\e941";
}
.iconsax-audio-square:before {
  content: "\e942";
}
.iconsax-autobrightness:before {
  content: "\e943";
}
.iconsax-award:before {
  content: "\e944";
}
.iconsax-back-square:before {
  content: "\e945";
}
.iconsax-backward:before {
  content: "\e946";
}
.iconsax-backward-5-seconds:before {
  content: "\e947";
}
.iconsax-backward-10-seconds:before {
  content: "\e948";
}
.iconsax-backward-15-seconds:before {
  content: "\e949";
}
.iconsax-backward-item:before {
  content: "\e94a";
}
.iconsax-bag:before {
  content: "\e94b";
}
.iconsax-bag-2:before {
  content: "\e94c";
}
.iconsax-bag-cross:before {
  content: "\e94d";
}
.iconsax-bag-cross-1:before {
  content: "\e94e";
}
.iconsax-bag-happy:before {
  content: "\e94f";
}
.iconsax-bag-tick:before {
  content: "\e950";
}
.iconsax-bag-tick-2:before {
  content: "\e951";
}
.iconsax-bag-timer:before {
  content: "\e952";
}
.iconsax-bank:before {
  content: "\e953";
}
.iconsax-barcode:before {
  content: "\e954";
}
.iconsax-battery-3full:before {
  content: "\e955";
}
.iconsax-battery-charging:before {
  content: "\e956";
}
.iconsax-battery-disable:before {
  content: "\e957";
}
.iconsax-battery-empty:before {
  content: "\e958";
}
.iconsax-battery-empty-1:before {
  content: "\e959";
}
.iconsax-battery-full:before {
  content: "\e95a";
}
.iconsax-bezier:before {
  content: "\e95b";
}
.iconsax-bill:before {
  content: "\e95c";
}
.iconsax-bitcoin-card:before {
  content: "\e95d";
}
.iconsax-bitcoin-convert:before {
  content: "\e95e";
}
.iconsax-bitcoin-refresh:before {
  content: "\e95f";
}
.iconsax-blend:before {
  content: "\e960";
}
.iconsax-blend-2:before {
  content: "\e961";
}
.iconsax-bluetooth:before {
  content: "\e962";
}
.iconsax-bluetooth-2:before {
  content: "\e963";
}
.iconsax-bluetooth-circle:before {
  content: "\e964";
}
.iconsax-bluetooth-rectangle:before {
  content: "\e965";
}
.iconsax-blur:before {
  content: "\e966";
}
.iconsax-book:before {
  content: "\e967";
}
.iconsax-book-1:before {
  content: "\e968";
}
.iconsax-bookmark:before {
  content: "\e969";
}
.iconsax-bookmark-2:before {
  content: "\e96a";
}
.iconsax-book-saved:before {
  content: "\e96b";
}
.iconsax-book-square:before {
  content: "\e96c";
}
.iconsax-box:before {
  content: "\e96d";
}
.iconsax-box-1:before {
  content: "\e96e";
}
.iconsax-box-2:before {
  content: "\e96f";
}
.iconsax-box-add:before {
  content: "\e970";
}
.iconsax-box-remove:before {
  content: "\e971";
}
.iconsax-box-search:before {
  content: "\e972";
}
.iconsax-box-tick:before {
  content: "\e973";
}
.iconsax-box-time:before {
  content: "\e974";
}
.iconsax-briefcase:before {
  content: "\e975";
}
.iconsax-brifecase-cross:before {
  content: "\e976";
}
.iconsax-brifecase-tick:before {
  content: "\e977";
}
.iconsax-brifecase-timer:before {
  content: "\e978";
}
.iconsax-broom:before {
  content: "\e979";
}
.iconsax-brush:before {
  content: "\e97a";
}
.iconsax-brush-1:before {
  content: "\e97b";
}
.iconsax-brush-2:before {
  content: "\e97c";
}
.iconsax-brush-3:before {
  content: "\e97d";
}
.iconsax-brush-4:before {
  content: "\e97e";
}
.iconsax-bubble:before {
  content: "\e97f";
}
.iconsax-bucket:before {
  content: "\e980";
}
.iconsax-bucket-circle:before {
  content: "\e981";
}
.iconsax-bucket-square:before {
  content: "\e982";
}
.iconsax-building:before {
  content: "\e983";
}
.iconsax-building-3:before {
  content: "\e984";
}
.iconsax-building-4:before {
  content: "\e985";
}
.iconsax-buildings:before {
  content: "\e986";
}
.iconsax-buildings-2:before {
  content: "\e987";
}
.iconsax-buliding:before {
  content: "\e988";
}
.iconsax-bus:before {
  content: "\e989";
}
.iconsax-buy-crypto:before {
  content: "\e98a";
}
.iconsax-cake:before {
  content: "\e98b";
}
.iconsax-calculator:before {
  content: "\e98c";
}
.iconsax-calendar:before {
  content: "\e98d";
}
.iconsax-calendar-1:before {
  content: "\e98e";
}
.iconsax-calendar-2:before {
  content: "\e98f";
}
.iconsax-calendar-add:before {
  content: "\e990";
}
.iconsax-calendar-circle:before {
  content: "\e991";
}
.iconsax-calendar-edit:before {
  content: "\e992";
}
.iconsax-calendar-remove:before {
  content: "\e993";
}
.iconsax-calendar-search:before {
  content: "\e994";
}
.iconsax-calendar-tick:before {
  content: "\e995";
}
.iconsax-call:before {
  content: "\e996";
}
.iconsax-call-add:before {
  content: "\e997";
}
.iconsax-call-calling:before {
  content: "\e998";
}
.iconsax-call-incoming:before {
  content: "\e999";
}
.iconsax-call-minus:before {
  content: "\e99a";
}
.iconsax-call-outgoing:before {
  content: "\e99b";
}
.iconsax-call-received:before {
  content: "\e99c";
}
.iconsax-call-remove:before {
  content: "\e99d";
}
.iconsax-call-slash:before {
  content: "\e99e";
}
.iconsax-camera:before {
  content: "\e99f";
}
.iconsax-camera-slash:before {
  content: "\e9a0";
}
.iconsax-candle:before {
  content: "\e9a1";
}
.iconsax-candle-2:before {
  content: "\e9a2";
}
.iconsax-car:before {
  content: "\e9a3";
}
.iconsax-card:before {
  content: "\e9a4";
}
.iconsax-card-add:before {
  content: "\e9a5";
}
.iconsax-card-coin:before {
  content: "\e9a6";
}
.iconsax-card-edit:before {
  content: "\e9a7";
}
.iconsax-card-pos:before {
  content: "\e9a8";
}
.iconsax-card-receive:before {
  content: "\e9a9";
}
.iconsax-card-remove:before {
  content: "\e9aa";
}
.iconsax-card-remove-1:before {
  content: "\e9ab";
}
.iconsax-cards:before {
  content: "\e9ac";
}
.iconsax-card-send:before {
  content: "\e9ad";
}
.iconsax-card-slash:before {
  content: "\e9ae";
}
.iconsax-card-tick:before {
  content: "\e9af";
}
.iconsax-card-tick-1:before {
  content: "\e9b0";
}
.iconsax-category:before {
  content: "\e9b1";
}
.iconsax-category-2:before {
  content: "\e9b2";
}
.iconsax-cd:before {
  content: "\e9b3";
}
.iconsax-chart:before {
  content: "\e9b4";
}
.iconsax-chart-1:before {
  content: "\e9b5";
}
.iconsax-chart-2:before {
  content: "\e9b6";
}
.iconsax-chart-3:before {
  content: "\e9b7";
}
.iconsax-chart-21:before {
  content: "\e9b8";
}
.iconsax-chart-fail:before {
  content: "\e9b9";
}
.iconsax-chart-square:before {
  content: "\e9ba";
}
.iconsax-chart-success:before {
  content: "\e9bb";
}
.iconsax-check:before {
  content: "\e9bc";
}
.iconsax-chrome:before {
  content: "\e9bd";
}
.iconsax-clipboard:before {
  content: "\e9be";
}
.iconsax-clipboard-close:before {
  content: "\e9bf";
}
.iconsax-clipboard-export:before {
  content: "\e9c0";
}
.iconsax-clipboard-import:before {
  content: "\e9c1";
}
.iconsax-clipboard-text:before {
  content: "\e9c2";
}
.iconsax-clipboard-tick:before {
  content: "\e9c3";
}
.iconsax-clock:before {
  content: "\e9c4";
}
.iconsax-clock-1:before {
  content: "\e9c5";
}
.iconsax-close-circle:before {
  content: "\e9c6";
}
.iconsax-close-square:before {
  content: "\e9c7";
}
.iconsax-cloud:before {
  content: "\e9c8";
}
.iconsax-cloud-add:before {
  content: "\e9c9";
}
.iconsax-cloud-change:before {
  content: "\e9ca";
}
.iconsax-cloud-connection:before {
  content: "\e9cb";
}
.iconsax-cloud-cross:before {
  content: "\e9cc";
}
.iconsax-cloud-drizzle:before {
  content: "\e9cd";
}
.iconsax-cloud-fog:before {
  content: "\e9ce";
}
.iconsax-cloud-lightning:before {
  content: "\e9cf";
}
.iconsax-cloud-minus:before {
  content: "\e9d0";
}
.iconsax-cloud-notif:before {
  content: "\e9d1";
}
.iconsax-cloud-plus:before {
  content: "\e9d2";
}
.iconsax-cloud-remove:before {
  content: "\e9d3";
}
.iconsax-cloud-snow:before {
  content: "\e9d4";
}
.iconsax-cloud-sunny:before {
  content: "\e9d5";
}
.iconsax-code:before {
  content: "\e9d6";
}
.iconsax-code-1:before {
  content: "\e9d7";
}
.iconsax-code-circle:before {
  content: "\e9d8";
}
.iconsax-coffee:before {
  content: "\e9d9";
}
.iconsax-coin:before {
  content: "\e9da";
}
.iconsax-coin-1:before {
  content: "\e9db";
}
.iconsax-colorfilter:before {
  content: "\e9dc";
}
.iconsax-colors-square:before {
  content: "\e9dd";
}
.iconsax-color-swatch:before {
  content: "\e9de";
}
.iconsax-command:before {
  content: "\e9df";
}
.iconsax-command-square:before {
  content: "\e9e0";
}
.iconsax-component:before {
  content: "\e9e1";
}
.iconsax-computing:before {
  content: "\e9e2";
}
.iconsax-convert:before {
  content: "\e9e3";
}
.iconsax-convert-3d-cube:before {
  content: "\e9e4";
}
.iconsax-convert-card:before {
  content: "\e9e5";
}
.iconsax-convertshape:before {
  content: "\e9e6";
}
.iconsax-convertshape-2:before {
  content: "\e9e7";
}
.iconsax-copy:before {
  content: "\e9e8";
}
.iconsax-copyright:before {
  content: "\e9e9";
}
.iconsax-copy-success:before {
  content: "\e9ea";
}
.iconsax-courthouse:before {
  content: "\e9eb";
}
.iconsax-cpu:before {
  content: "\e9ec";
}
.iconsax-cpu-charge:before {
  content: "\e9ed";
}
.iconsax-cpu-setting:before {
  content: "\e9ee";
}
.iconsax-creative-commons:before {
  content: "\e9ef";
}
.iconsax-crop:before {
  content: "\e9f0";
}
.iconsax-crown:before {
  content: "\e9f1";
}
.iconsax-crown-1:before {
  content: "\e9f2";
}
.iconsax-cup:before {
  content: "\e9f3";
}
.iconsax-danger:before {
  content: "\e9f4";
}
.iconsax-data:before {
  content: "\e9f5";
}
.iconsax-data-2:before {
  content: "\e9f6";
}
.iconsax-designtools:before {
  content: "\e9f7";
}
.iconsax-device-message:before {
  content: "\e9f8";
}
.iconsax-devices:before {
  content: "\e9f9";
}
.iconsax-devices-1:before {
  content: "\e9fa";
}
.iconsax-diagram:before {
  content: "\e9fb";
}
.iconsax-diamonds:before {
  content: "\e9fc";
}
.iconsax-direct:before {
  content: "\e9fd";
}
.iconsax-directbox-default:before {
  content: "\e9fe";
}
.iconsax-directbox-notif:before {
  content: "\e9ff";
}
.iconsax-directbox-receive:before {
  content: "\ea00";
}
.iconsax-directbox-send:before {
  content: "\ea01";
}
.iconsax-direct-down:before {
  content: "\ea02";
}
.iconsax-direct-inbox:before {
  content: "\ea03";
}
.iconsax-direct-left:before {
  content: "\ea04";
}
.iconsax-direct-normal:before {
  content: "\ea05";
}
.iconsax-direct-notification:before {
  content: "\ea06";
}
.iconsax-direct-right:before {
  content: "\ea07";
}
.iconsax-direct-send:before {
  content: "\ea08";
}
.iconsax-direct-up:before {
  content: "\ea09";
}
.iconsax-discount-circle:before {
  content: "\ea0a";
}
.iconsax-discount-shape:before {
  content: "\ea0b";
}
.iconsax-discover:before {
  content: "\ea0c";
}
.iconsax-discover-1:before {
  content: "\ea0d";
}
.iconsax-dislike:before {
  content: "\ea0e";
}
.iconsax-document:before {
  content: "\ea0f";
}
.iconsax-document-1:before {
  content: "\ea10";
}
.iconsax-document-cloud:before {
  content: "\ea11";
}
.iconsax-document-code:before {
  content: "\ea12";
}
.iconsax-document-code-2:before {
  content: "\ea13";
}
.iconsax-document-copy:before {
  content: "\ea14";
}
.iconsax-document-download:before {
  content: "\ea15";
}
.iconsax-document-favorite:before {
  content: "\ea16";
}
.iconsax-document-filter:before {
  content: "\ea17";
}
.iconsax-document-forward:before {
  content: "\ea18";
}
.iconsax-document-like:before {
  content: "\ea19";
}
.iconsax-document-normal:before {
  content: "\ea1a";
}
.iconsax-document-previous:before {
  content: "\ea1b";
}
.iconsax-document-sketch:before {
  content: "\ea1c";
}
.iconsax-document-text:before {
  content: "\ea1d";
}
.iconsax-document-text-1:before {
  content: "\ea1e";
}
.iconsax-document-upload:before {
  content: "\ea1f";
}
.iconsax-dollar-circle:before {
  content: "\ea20";
}
.iconsax-dollar-square:before {
  content: "\ea21";
}
.iconsax-driver:before {
  content: "\ea22";
}
.iconsax-driver-2:before {
  content: "\ea23";
}
.iconsax-driver-refresh:before {
  content: "\ea24";
}
.iconsax-driving:before {
  content: "\ea25";
}
.iconsax-edit:before {
  content: "\ea26";
}
.iconsax-edit-2:before {
  content: "\ea27";
}
.iconsax-electricity:before {
  content: "\ea28";
}
.iconsax-element-2:before {
  content: "\ea29";
}
.iconsax-element-3:before {
  content: "\ea2a";
}
.iconsax-element-4:before {
  content: "\ea2b";
}
.iconsax-element-equal:before {
  content: "\ea2c";
}
.iconsax-element-plus:before {
  content: "\ea2d";
}
.iconsax-emoji-happy:before {
  content: "\ea2e";
}
.iconsax-emoji-normal:before {
  content: "\ea2f";
}
.iconsax-emoji-sad:before {
  content: "\ea30";
}
.iconsax-empty-wallet:before {
  content: "\ea31";
}
.iconsax-empty-wallet-add:before {
  content: "\ea32";
}
.iconsax-empty-wallet-change:before {
  content: "\ea33";
}
.iconsax-empty-wallet-remove:before {
  content: "\ea34";
}
.iconsax-empty-wallet-tick:before {
  content: "\ea35";
}
.iconsax-empty-wallet-time:before {
  content: "\ea36";
}
.iconsax-eraser:before {
  content: "\ea37";
}
.iconsax-eraser-1:before {
  content: "\ea38";
}
.iconsax-export:before {
  content: "\ea39";
}
.iconsax-export-1:before {
  content: "\ea3a";
}
.iconsax-export-2:before {
  content: "\ea3b";
}
.iconsax-export-3:before {
  content: "\ea3c";
}
.iconsax-external-drive:before {
  content: "\ea3d";
}
.iconsax-eye:before {
  content: "\ea3e";
}
.iconsax-eye-slash:before {
  content: "\ea3f";
}
.iconsax-fatrows:before {
  content: "\ea40";
}
.iconsax-favorite-chart:before {
  content: "\ea41";
}
.iconsax-filter:before {
  content: "\ea42";
}
.iconsax-filter-add:before {
  content: "\ea43";
}
.iconsax-filter-edit:before {
  content: "\ea44";
}
.iconsax-filter-remove:before {
  content: "\ea45";
}
.iconsax-filter-search:before {
  content: "\ea46";
}
.iconsax-filter-square:before {
  content: "\ea47";
}
.iconsax-filter-tick:before {
  content: "\ea48";
}
.iconsax-finger-cricle:before {
  content: "\ea49";
}
.iconsax-finger-scan:before {
  content: "\ea4a";
}
.iconsax-firstline:before {
  content: "\ea4b";
}
.iconsax-flag:before {
  content: "\ea4c";
}
.iconsax-flag-2:before {
  content: "\ea4d";
}
.iconsax-flash:before {
  content: "\ea4e";
}
.iconsax-flash-1:before {
  content: "\ea4f";
}
.iconsax-flash-circle:before {
  content: "\ea50";
}
.iconsax-flash-circle-1:before {
  content: "\ea51";
}
.iconsax-flash-slash:before {
  content: "\ea52";
}
.iconsax-folder:before {
  content: "\ea53";
}
.iconsax-folder-2:before {
  content: "\ea54";
}
.iconsax-folder-add:before {
  content: "\ea55";
}
.iconsax-folder-cloud:before {
  content: "\ea56";
}
.iconsax-folder-connection:before {
  content: "\ea57";
}
.iconsax-folder-cross:before {
  content: "\ea58";
}
.iconsax-folder-favorite:before {
  content: "\ea59";
}
.iconsax-folder-minus:before {
  content: "\ea5a";
}
.iconsax-folder-open:before {
  content: "\ea5b";
}
.iconsax-forbidden:before {
  content: "\ea5c";
}
.iconsax-forbidden-2:before {
  content: "\ea5d";
}
.iconsax-format-circle:before {
  content: "\ea5e";
}
.iconsax-format-square:before {
  content: "\ea5f";
}
.iconsax-forward:before {
  content: "\ea60";
}
.iconsax-forward-5-seconds:before {
  content: "\ea61";
}
.iconsax-forward-10-seconds:before {
  content: "\ea62";
}
.iconsax-forward-15-seconds:before {
  content: "\ea63";
}
.iconsax-forward-item:before {
  content: "\ea64";
}
.iconsax-forward-square:before {
  content: "\ea65";
}
.iconsax-frame:before {
  content: "\ea66";
}
.iconsax-frame-1:before {
  content: "\ea67";
}
.iconsax-frame-2:before {
  content: "\ea68";
}
.iconsax-frame-3:before {
  content: "\ea69";
}
.iconsax-frame-4:before {
  content: "\ea6a";
}
.iconsax-gallery:before {
  content: "\ea6b";
}
.iconsax-gallery-add:before {
  content: "\ea6c";
}
.iconsax-gallery-edit:before {
  content: "\ea6d";
}
.iconsax-gallery-export:before {
  content: "\ea6e";
}
.iconsax-gallery-favorite:before {
  content: "\ea6f";
}
.iconsax-gallery-import:before {
  content: "\ea70";
}
.iconsax-gallery-remove:before {
  content: "\ea71";
}
.iconsax-gallery-slash:before {
  content: "\ea72";
}
.iconsax-gallery-tick:before {
  content: "\ea73";
}
.iconsax-game:before {
  content: "\ea74";
}
.iconsax-gameboy:before {
  content: "\ea75";
}
.iconsax-gas-station:before {
  content: "\ea76";
}
.iconsax-gemini:before {
  content: "\ea77";
}
.iconsax-gemini-2:before {
  content: "\ea78";
}
.iconsax-ghost:before {
  content: "\ea79";
}
.iconsax-gift:before {
  content: "\ea7a";
}
.iconsax-glass:before {
  content: "\ea7b";
}
.iconsax-glass-1:before {
  content: "\ea7c";
}
.iconsax-global:before {
  content: "\ea7d";
}
.iconsax-global-edit:before {
  content: "\ea7e";
}
.iconsax-global-refresh:before {
  content: "\ea7f";
}
.iconsax-global-search:before {
  content: "\ea80";
}
.iconsax-gps:before {
  content: "\ea81";
}
.iconsax-gps-slash:before {
  content: "\ea82";
}
.iconsax-grammerly:before {
  content: "\ea83";
}
.iconsax-graph:before {
  content: "\ea84";
}
.iconsax-grid-1:before {
  content: "\ea85";
}
.iconsax-grid-2:before {
  content: "\ea86";
}
.iconsax-grid-3:before {
  content: "\ea87";
}
.iconsax-grid-4:before {
  content: "\ea88";
}
.iconsax-grid-5:before {
  content: "\ea89";
}
.iconsax-grid-6:before {
  content: "\ea8a";
}
.iconsax-grid-7:before {
  content: "\ea8b";
}
.iconsax-grid-8:before {
  content: "\ea8c";
}
.iconsax-grid-9:before {
  content: "\ea8d";
}
.iconsax-grid-edit:before {
  content: "\ea8e";
}
.iconsax-grid-eraser:before {
  content: "\ea8f";
}
.iconsax-grid-lock:before {
  content: "\ea90";
}
.iconsax-happyemoji:before {
  content: "\ea91";
}
.iconsax-hashtag:before {
  content: "\ea92";
}
.iconsax-hashtag-1:before {
  content: "\ea93";
}
.iconsax-hashtag-down:before {
  content: "\ea94";
}
.iconsax-hashtag-up:before {
  content: "\ea95";
}
.iconsax-headphone:before {
  content: "\ea96";
}
.iconsax-headphones:before {
  content: "\ea97";
}
.iconsax-health:before {
  content: "\ea98";
}
.iconsax-heart:before {
  content: "\ea99";
}
.iconsax-heart-add:before {
  content: "\ea9a";
}
.iconsax-heart-circle:before {
  content: "\ea9b";
}
.iconsax-heart-edit:before {
  content: "\ea9c";
}
.iconsax-heart-remove:before {
  content: "\ea9d";
}
.iconsax-heart-search:before {
  content: "\ea9e";
}
.iconsax-heart-slash:before {
  content: "\ea9f";
}
.iconsax-heart-tick:before {
  content: "\eaa0";
}
.iconsax-hierarchy:before {
  content: "\eaa1";
}
.iconsax-hierarchy-2:before {
  content: "\eaa2";
}
.iconsax-hierarchy-3:before {
  content: "\eaa3";
}
.iconsax-hierarchy-square:before {
  content: "\eaa4";
}
.iconsax-hierarchy-square-2:before {
  content: "\eaa5";
}
.iconsax-hierarchy-square-3:before {
  content: "\eaa6";
}
.iconsax-home:before {
  content: "\eaa7";
}
.iconsax-home-1:before {
  content: "\eaa8";
}
.iconsax-home-2:before {
  content: "\eaa9";
}
.iconsax-home-hashtag:before {
  content: "\eaaa";
}
.iconsax-home-trend-down:before {
  content: "\eaab";
}
.iconsax-home-trend-up:before {
  content: "\eaac";
}
.iconsax-home-wifi:before {
  content: "\eaad";
}
.iconsax-hospital:before {
  content: "\eaae";
}
.iconsax-house:before {
  content: "\eaaf";
}
.iconsax-house-2:before {
  content: "\eab0";
}
.iconsax-image:before {
  content: "\eab1";
}
.iconsax-import:before {
  content: "\eab2";
}
.iconsax-import-1:before {
  content: "\eab3";
}
.iconsax-import-2:before {
  content: "\eab4";
}
.iconsax-info-circle:before {
  content: "\eab5";
}
.iconsax-information:before {
  content: "\eab6";
}
.iconsax-instagram:before {
  content: "\eab7";
}
.iconsax-judge:before {
  content: "\eab8";
}
.iconsax-kanban:before {
  content: "\eab9";
}
.iconsax-key:before {
  content: "\eaba";
}
.iconsax-keyboard:before {
  content: "\eabb";
}
.iconsax-keyboard-open:before {
  content: "\eabc";
}
.iconsax-key-square:before {
  content: "\eabd";
}
.iconsax-lamp:before {
  content: "\eabe";
}
.iconsax-lamp-1:before {
  content: "\eabf";
}
.iconsax-lamp-charge:before {
  content: "\eac0";
}
.iconsax-lamp-on:before {
  content: "\eac1";
}
.iconsax-lamp-slash:before {
  content: "\eac2";
}
.iconsax-language-circle:before {
  content: "\eac3";
}
.iconsax-language-square:before {
  content: "\eac4";
}
.iconsax-layer:before {
  content: "\eac5";
}
.iconsax-level:before {
  content: "\eac6";
}
.iconsax-lifebuoy:before {
  content: "\eac7";
}
.iconsax-like:before {
  content: "\eac8";
}
.iconsax-like-1:before {
  content: "\eac9";
}
.iconsax-like-dislike:before {
  content: "\eaca";
}
.iconsax-like-shapes:before {
  content: "\eacb";
}
.iconsax-like-tag:before {
  content: "\eacc";
}
.iconsax-link:before {
  content: "\eacd";
}
.iconsax-link-1:before {
  content: "\eace";
}
.iconsax-link-2:before {
  content: "\eacf";
}
.iconsax-link-21:before {
  content: "\ead0";
}
.iconsax-link-circle:before {
  content: "\ead1";
}
.iconsax-link-square:before {
  content: "\ead2";
}
.iconsax-location:before {
  content: "\ead3";
}
.iconsax-location-add:before {
  content: "\ead4";
}
.iconsax-location-cross:before {
  content: "\ead5";
}
.iconsax-location-minus:before {
  content: "\ead6";
}
.iconsax-location-slash:before {
  content: "\ead7";
}
.iconsax-location-tick:before {
  content: "\ead8";
}
.iconsax-lock:before {
  content: "\ead9";
}
.iconsax-lock-1:before {
  content: "\eada";
}
.iconsax-lock-circle:before {
  content: "\eadb";
}
.iconsax-lock-slash:before {
  content: "\eadc";
}
.iconsax-login:before {
  content: "\eadd";
}
.iconsax-login-1:before {
  content: "\eade";
}
.iconsax-logout:before {
  content: "\eadf";
}
.iconsax-logout-1:before {
  content: "\eae0";
}
.iconsax-lovely:before {
  content: "\eae1";
}
.iconsax-magicpen:before {
  content: "\eae2";
}
.iconsax-magic-star:before {
  content: "\eae3";
}
.iconsax-main-component:before {
  content: "\eae4";
}
.iconsax-man:before {
  content: "\eae5";
}
.iconsax-map:before {
  content: "\eae6";
}
.iconsax-map-1:before {
  content: "\eae7";
}
.iconsax-mask:before {
  content: "\eae8";
}
.iconsax-mask-1:before {
  content: "\eae9";
}
.iconsax-mask-2:before {
  content: "\eaea";
}
.iconsax-math:before {
  content: "\eaeb";
}
.iconsax-maximize:before {
  content: "\eaec";
}
.iconsax-maximize-1:before {
  content: "\eaed";
}
.iconsax-maximize-2:before {
  content: "\eaee";
}
.iconsax-maximize-3:before {
  content: "\eaef";
}
.iconsax-maximize-4:before {
  content: "\eaf0";
}
.iconsax-maximize-21:before {
  content: "\eaf1";
}
.iconsax-maximize-circle:before {
  content: "\eaf2";
}
.iconsax-medal:before {
  content: "\eaf3";
}
.iconsax-medal-star:before {
  content: "\eaf4";
}
.iconsax-menu:before {
  content: "\eaf5";
}
.iconsax-menu-1:before {
  content: "\eaf6";
}
.iconsax-menu-board:before {
  content: "\eaf7";
}
.iconsax-message:before {
  content: "\eaf8";
}
.iconsax-message-2:before {
  content: "\eaf9";
}
.iconsax-message-add:before {
  content: "\eafa";
}
.iconsax-message-add-1:before {
  content: "\eafb";
}
.iconsax-message-circle:before {
  content: "\eafc";
}
.iconsax-message-edit:before {
  content: "\eafd";
}
.iconsax-message-favorite:before {
  content: "\eafe";
}
.iconsax-message-minus:before {
  content: "\eaff";
}
.iconsax-message-notif:before {
  content: "\eb00";
}
.iconsax-message-programming:before {
  content: "\eb01";
}
.iconsax-message-question:before {
  content: "\eb02";
}
.iconsax-message-remove:before {
  content: "\eb03";
}
.iconsax-messages:before {
  content: "\eb04";
}
.iconsax-messages-1:before {
  content: "\eb05";
}
.iconsax-messages-2:before {
  content: "\eb06";
}
.iconsax-messages-3:before {
  content: "\eb07";
}
.iconsax-message-search:before {
  content: "\eb08";
}
.iconsax-message-square:before {
  content: "\eb09";
}
.iconsax-message-text:before {
  content: "\eb0a";
}
.iconsax-message-text-1:before {
  content: "\eb0b";
}
.iconsax-message-tick:before {
  content: "\eb0c";
}
.iconsax-message-time:before {
  content: "\eb0d";
}
.iconsax-microphone:before {
  content: "\eb0e";
}
.iconsax-microphone-2:before {
  content: "\eb0f";
}
.iconsax-microphone-slash:before {
  content: "\eb10";
}
.iconsax-microphone-slash-1:before {
  content: "\eb11";
}
.iconsax-microscope:before {
  content: "\eb12";
}
.iconsax-milk:before {
  content: "\eb13";
}
.iconsax-mini-music-sqaure:before {
  content: "\eb14";
}
.iconsax-minus:before {
  content: "\eb15";
}
.iconsax-minus-cirlce:before {
  content: "\eb16";
}
.iconsax-minus-square:before {
  content: "\eb17";
}
.iconsax-mirror:before {
  content: "\eb18";
}
.iconsax-mirroring-screen:before {
  content: "\eb19";
}
.iconsax-mobile:before {
  content: "\eb1a";
}
.iconsax-mobile-programming:before {
  content: "\eb1b";
}
.iconsax-money:before {
  content: "\eb1c";
}
.iconsax-money-2:before {
  content: "\eb1d";
}
.iconsax-money-3:before {
  content: "\eb1e";
}
.iconsax-money-4:before {
  content: "\eb1f";
}
.iconsax-money-add:before {
  content: "\eb20";
}
.iconsax-money-change:before {
  content: "\eb21";
}
.iconsax-money-forbidden:before {
  content: "\eb22";
}
.iconsax-money-recive:before {
  content: "\eb23";
}
.iconsax-money-remove:before {
  content: "\eb24";
}
.iconsax-moneys:before {
  content: "\eb25";
}
.iconsax-money-send:before {
  content: "\eb26";
}
.iconsax-money-tick:before {
  content: "\eb27";
}
.iconsax-money-time:before {
  content: "\eb28";
}
.iconsax-monitor:before {
  content: "\eb29";
}
.iconsax-monitor-mobbile:before {
  content: "\eb2a";
}
.iconsax-monitor-recorder:before {
  content: "\eb2b";
}
.iconsax-moon:before {
  content: "\eb2c";
}
.iconsax-more:before {
  content: "\eb2d";
}
.iconsax-more-2:before {
  content: "\eb2e";
}
.iconsax-more-circle:before {
  content: "\eb2f";
}
.iconsax-more-square:before {
  content: "\eb30";
}
.iconsax-mouse:before {
  content: "\eb31";
}
.iconsax-mouse-1:before {
  content: "\eb32";
}
.iconsax-mouse-circle:before {
  content: "\eb33";
}
.iconsax-mouse-square:before {
  content: "\eb34";
}
.iconsax-music:before {
  content: "\eb35";
}
.iconsax-music-circle:before {
  content: "\eb36";
}
.iconsax-music-dashboard:before {
  content: "\eb37";
}
.iconsax-music-filter:before {
  content: "\eb38";
}
.iconsax-music-library-2:before {
  content: "\eb39";
}
.iconsax-musicnote:before {
  content: "\eb3a";
}
.iconsax-music-play:before {
  content: "\eb3b";
}
.iconsax-music-playlist:before {
  content: "\eb3c";
}
.iconsax-music-square:before {
  content: "\eb3d";
}
.iconsax-music-square-add:before {
  content: "\eb3e";
}
.iconsax-music-square-remove:before {
  content: "\eb3f";
}
.iconsax-music-square-search:before {
  content: "\eb40";
}
.iconsax-next:before {
  content: "\eb41";
}
.iconsax-note:before {
  content: "\eb42";
}
.iconsax-note-1:before {
  content: "\eb43";
}
.iconsax-note-2:before {
  content: "\eb44";
}
.iconsax-note-21:before {
  content: "\eb45";
}
.iconsax-note-add:before {
  content: "\eb46";
}
.iconsax-note-favorite:before {
  content: "\eb47";
}
.iconsax-note-remove:before {
  content: "\eb48";
}
.iconsax-note-square:before {
  content: "\eb49";
}
.iconsax-note-text:before {
  content: "\eb4a";
}
.iconsax-notification:before {
  content: "\eb4b";
}
.iconsax-notification-1:before {
  content: "\eb4c";
}
.iconsax-notification-bing:before {
  content: "\eb4d";
}
.iconsax-notification-favorite:before {
  content: "\eb4e";
}
.iconsax-notification-status:before {
  content: "\eb4f";
}
.iconsax-omega-circle:before {
  content: "\eb50";
}
.iconsax-omega-square:before {
  content: "\eb51";
}
.iconsax-paintbucket:before {
  content: "\eb52";
}
.iconsax-paperclip:before {
  content: "\eb53";
}
.iconsax-paperclip-2:before {
  content: "\eb54";
}
.iconsax-password-check:before {
  content: "\eb55";
}
.iconsax-path:before {
  content: "\eb56";
}
.iconsax-path-2:before {
  content: "\eb57";
}
.iconsax-path-square:before {
  content: "\eb58";
}
.iconsax-pause:before {
  content: "\eb59";
}
.iconsax-pause-circle:before {
  content: "\eb5a";
}
.iconsax-pen-add:before {
  content: "\eb5b";
}
.iconsax-pen-close:before {
  content: "\eb5c";
}
.iconsax-pen-remove:before {
  content: "\eb5d";
}
.iconsax-pen-tool:before {
  content: "\eb5e";
}
.iconsax-pen-tool-2:before {
  content: "\eb5f";
}
.iconsax-people:before {
  content: "\eb60";
}
.iconsax-percentage-circle:before {
  content: "\eb61";
}
.iconsax-percentage-square:before {
  content: "\eb62";
}
.iconsax-personalcard:before {
  content: "\eb63";
}
.iconsax-pet:before {
  content: "\eb64";
}
.iconsax-pharagraphspacing:before {
  content: "\eb65";
}
.iconsax-picture-frame:before {
  content: "\eb66";
}
.iconsax-play:before {
  content: "\eb67";
}
.iconsax-play-add:before {
  content: "\eb68";
}
.iconsax-play-circle:before {
  content: "\eb69";
}
.iconsax-play-cricle:before {
  content: "\eb6a";
}
.iconsax-play-remove:before {
  content: "\eb6b";
}
.iconsax-presention-chart:before {
  content: "\eb6c";
}
.iconsax-previous:before {
  content: "\eb6d";
}
.iconsax-printer:before {
  content: "\eb6e";
}
.iconsax-printer-slash:before {
  content: "\eb6f";
}
.iconsax-profile-2user:before {
  content: "\eb70";
}
.iconsax-profile-add:before {
  content: "\eb71";
}
.iconsax-profile-circle:before {
  content: "\eb72";
}
.iconsax-profile-delete:before {
  content: "\eb73";
}
.iconsax-profile-remove:before {
  content: "\eb74";
}
.iconsax-profile-tick:before {
  content: "\eb75";
}
.iconsax-programming-arrow:before {
  content: "\eb76";
}
.iconsax-programming-arrows:before {
  content: "\eb77";
}
.iconsax-quote-down:before {
  content: "\eb78";
}
.iconsax-quote-down-circle:before {
  content: "\eb79";
}
.iconsax-quote-down-square:before {
  content: "\eb7a";
}
.iconsax-quote-up:before {
  content: "\eb7b";
}
.iconsax-quote-up-circle:before {
  content: "\eb7c";
}
.iconsax-quote-up-square:before {
  content: "\eb7d";
}
.iconsax-radar:before {
  content: "\eb7e";
}
.iconsax-radar-1:before {
  content: "\eb7f";
}
.iconsax-radar-2:before {
  content: "\eb80";
}
.iconsax-radio:before {
  content: "\eb81";
}
.iconsax-ram:before {
  content: "\eb82";
}
.iconsax-ram-2:before {
  content: "\eb83";
}
.iconsax-ranking:before {
  content: "\eb84";
}
.iconsax-ranking-1:before {
  content: "\eb85";
}
.iconsax-receipt:before {
  content: "\eb86";
}
.iconsax-receipt-1:before {
  content: "\eb87";
}
.iconsax-receipt-2:before {
  content: "\eb88";
}
.iconsax-receipt-2-1:before {
  content: "\eb89";
}
.iconsax-receipt-add:before {
  content: "\eb8a";
}
.iconsax-receipt-discount:before {
  content: "\eb8b";
}
.iconsax-receipt-disscount:before {
  content: "\eb8c";
}
.iconsax-receipt-edit:before {
  content: "\eb8d";
}
.iconsax-receipt-item:before {
  content: "\eb8e";
}
.iconsax-receipt-minus:before {
  content: "\eb8f";
}
.iconsax-receipt-search:before {
  content: "\eb90";
}
.iconsax-receipt-square:before {
  content: "\eb91";
}
.iconsax-receipt-text:before {
  content: "\eb92";
}
.iconsax-received:before {
  content: "\eb93";
}
.iconsax-receive-square:before {
  content: "\eb94";
}
.iconsax-receive-square-2:before {
  content: "\eb95";
}
.iconsax-record:before {
  content: "\eb96";
}
.iconsax-record-circle:before {
  content: "\eb97";
}
.iconsax-recovery-convert:before {
  content: "\eb98";
}
.iconsax-redo:before {
  content: "\eb99";
}
.iconsax-refresh:before {
  content: "\eb9a";
}
.iconsax-refresh-2:before {
  content: "\eb9b";
}
.iconsax-refresh-circle:before {
  content: "\eb9c";
}
.iconsax-refresh-left-square:before {
  content: "\eb9d";
}
.iconsax-refresh-right-square:before {
  content: "\eb9e";
}
.iconsax-refresh-square-2:before {
  content: "\eb9f";
}
.iconsax-repeat:before {
  content: "\eba0";
}
.iconsax-repeat-circle:before {
  content: "\eba1";
}
.iconsax-repeate-music:before {
  content: "\eba2";
}
.iconsax-repeate-one:before {
  content: "\eba3";
}
.iconsax-reserve:before {
  content: "\eba4";
}
.iconsax-rotate-left:before {
  content: "\eba5";
}
.iconsax-rotate-left-1:before {
  content: "\eba6";
}
.iconsax-rotate-right:before {
  content: "\eba7";
}
.iconsax-rotate-right-1:before {
  content: "\eba8";
}
.iconsax-route-square:before {
  content: "\eba9";
}
.iconsax-routing:before {
  content: "\ebaa";
}
.iconsax-routing-2:before {
  content: "\ebab";
}
.iconsax-row-horizontal:before {
  content: "\ebac";
}
.iconsax-row-vertical:before {
  content: "\ebad";
}
.iconsax-rulerpen:before {
  content: "\ebae";
}
.iconsax-ruler:before {
  content: "\ebaf";
}
.iconsax-safe-home:before {
  content: "\ebb0";
}
.iconsax-sagittarius:before {
  content: "\ebb1";
}
.iconsax-save-2:before {
  content: "\ebb2";
}
.iconsax-save-add:before {
  content: "\ebb3";
}
.iconsax-save-minus:before {
  content: "\ebb4";
}
.iconsax-save-remove:before {
  content: "\ebb5";
}
.iconsax-scan:before {
  content: "\ebb6";
}
.iconsax-scan-barcode:before {
  content: "\ebb7";
}
.iconsax-scanner:before {
  content: "\ebb8";
}
.iconsax-scanning:before {
  content: "\ebb9";
}
.iconsax-scissor:before {
  content: "\ebba";
}
.iconsax-scissor-1:before {
  content: "\ebbb";
}
.iconsax-screenmirroring:before {
  content: "\ebbc";
}
.iconsax-scroll:before {
  content: "\ebbd";
}
.iconsax-search-favorite:before {
  content: "\ebbe";
}
.iconsax-search-favorite-1:before {
  content: "\ebbf";
}
.iconsax-search-normal:before {
  content: "\ebc0";
}
.iconsax-search-normal-1:before {
  content: "\ebc1";
}
.iconsax-search-status:before {
  content: "\ebc2";
}
.iconsax-search-status-1:before {
  content: "\ebc3";
}
.iconsax-search-zoom-in:before {
  content: "\ebc4";
}
.iconsax-search-zoom-in-1:before {
  content: "\ebc5";
}
.iconsax-search-zoom-out:before {
  content: "\ebc6";
}
.iconsax-search-zoom-out-1:before {
  content: "\ebc7";
}
.iconsax-security:before {
  content: "\ebc8";
}
.iconsax-security-card:before {
  content: "\ebc9";
}
.iconsax-security-safe:before {
  content: "\ebca";
}
.iconsax-security-time:before {
  content: "\ebcb";
}
.iconsax-security-user:before {
  content: "\ebcc";
}
.iconsax-send:before {
  content: "\ebcd";
}
.iconsax-send-1:before {
  content: "\ebce";
}
.iconsax-send-2:before {
  content: "\ebcf";
}
.iconsax-send-sqaure-2:before {
  content: "\ebd0";
}
.iconsax-send-square:before {
  content: "\ebd1";
}
.iconsax-setting:before {
  content: "\ebd2";
}
.iconsax-setting-2:before {
  content: "\ebd3";
}
.iconsax-setting-3:before {
  content: "\ebd4";
}
.iconsax-setting-4:before {
  content: "\ebd5";
}
.iconsax-setting-5:before {
  content: "\ebd6";
}
.iconsax-settings:before {
  content: "\ebd7";
}
.iconsax-shapes:before {
  content: "\ebd8";
}
.iconsax-shapes-1:before {
  content: "\ebd9";
}
.iconsax-share:before {
  content: "\ebda";
}
.iconsax-shield-cross:before {
  content: "\ebdb";
}
.iconsax-shield-search:before {
  content: "\ebdc";
}
.iconsax-shield-slash:before {
  content: "\ebdd";
}
.iconsax-shield-tick:before {
  content: "\ebde";
}
.iconsax-ship:before {
  content: "\ebdf";
}
.iconsax-shop:before {
  content: "\ebe0";
}
.iconsax-shop-add:before {
  content: "\ebe1";
}
.iconsax-shopping-bag:before {
  content: "\ebe2";
}
.iconsax-shopping-cart:before {
  content: "\ebe3";
}
.iconsax-shop-remove:before {
  content: "\ebe4";
}
.iconsax-shuffle:before {
  content: "\ebe5";
}
.iconsax-sidebar-bottom:before {
  content: "\ebe6";
}
.iconsax-sidebar-left:before {
  content: "\ebe7";
}
.iconsax-sidebar-right:before {
  content: "\ebe8";
}
.iconsax-sidebar-top:before {
  content: "\ebe9";
}
.iconsax-signpost:before {
  content: "\ebea";
}
.iconsax-simcard:before {
  content: "\ebeb";
}
.iconsax-simcard-1:before {
  content: "\ebec";
}
.iconsax-simcard-2:before {
  content: "\ebed";
}
.iconsax-size:before {
  content: "\ebee";
}
.iconsax-slash:before {
  content: "\ebef";
}
.iconsax-slider:before {
  content: "\ebf0";
}
.iconsax-slider-horizontal:before {
  content: "\ebf1";
}
.iconsax-slider-horizontal-1:before {
  content: "\ebf2";
}
.iconsax-slider-vertical:before {
  content: "\ebf3";
}
.iconsax-slider-vertical-1:before {
  content: "\ebf4";
}
.iconsax-smallcaps:before {
  content: "\ebf5";
}
.iconsax-smart-car:before {
  content: "\ebf6";
}
.iconsax-smart-home:before {
  content: "\ebf7";
}
.iconsax-smileys:before {
  content: "\ebf8";
}
.iconsax-sms:before {
  content: "\ebf9";
}
.iconsax-sms-edit:before {
  content: "\ebfa";
}
.iconsax-sms-notification:before {
  content: "\ebfb";
}
.iconsax-sms-search:before {
  content: "\ebfc";
}
.iconsax-sms-star:before {
  content: "\ebfd";
}
.iconsax-sms-tracking:before {
  content: "\ebfe";
}
.iconsax-sort:before {
  content: "\ebff";
}
.iconsax-sound:before {
  content: "\ec00";
}
.iconsax-speaker:before {
  content: "\ec01";
}
.iconsax-speedometer:before {
  content: "\ec02";
}
.iconsax-star:before {
  content: "\ec03";
}
.iconsax-star-1:before {
  content: "\ec04";
}
.iconsax-star-slash:before {
  content: "\ec05";
}
.iconsax-status:before {
  content: "\ec06";
}
.iconsax-status-up:before {
  content: "\ec07";
}
.iconsax-sticker:before {
  content: "\ec08";
}
.iconsax-stickynote:before {
  content: "\ec09";
}
.iconsax-stop:before {
  content: "\ec0a";
}
.iconsax-stop-circle:before {
  content: "\ec0b";
}
.iconsax-story:before {
  content: "\ec0c";
}
.iconsax-strongbox:before {
  content: "\ec0d";
}
.iconsax-strongbox-2:before {
  content: "\ec0e";
}
.iconsax-subtitle:before {
  content: "\ec0f";
}
.iconsax-sun:before {
  content: "\ec10";
}
.iconsax-sun-1:before {
  content: "\ec11";
}
.iconsax-sun-fog:before {
  content: "\ec12";
}
.iconsax-tag:before {
  content: "\ec13";
}
.iconsax-tag-2:before {
  content: "\ec14";
}
.iconsax-tag-cross:before {
  content: "\ec15";
}
.iconsax-tag-right:before {
  content: "\ec16";
}
.iconsax-tag-user:before {
  content: "\ec17";
}
.iconsax-task:before {
  content: "\ec18";
}
.iconsax-task-square:before {
  content: "\ec19";
}
.iconsax-teacher:before {
  content: "\ec1a";
}
.iconsax-text:before {
  content: "\ec1b";
}
.iconsax-textalign-center:before {
  content: "\ec1c";
}
.iconsax-textalign-justifycenter:before {
  content: "\ec1d";
}
.iconsax-textalign-justifyleft:before {
  content: "\ec1e";
}
.iconsax-textalign-justifyright:before {
  content: "\ec1f";
}
.iconsax-textalign-left:before {
  content: "\ec20";
}
.iconsax-textalign-right:before {
  content: "\ec21";
}
.iconsax-text-block:before {
  content: "\ec22";
}
.iconsax-text-bold:before {
  content: "\ec23";
}
.iconsax-text-italic:before {
  content: "\ec24";
}
.iconsax-text-underline:before {
  content: "\ec25";
}
.iconsax-tick-circle:before {
  content: "\ec26";
}
.iconsax-ticket:before {
  content: "\ec27";
}
.iconsax-ticket-2:before {
  content: "\ec28";
}
.iconsax-ticket-discount:before {
  content: "\ec29";
}
.iconsax-ticket-expired:before {
  content: "\ec2a";
}
.iconsax-ticket-star:before {
  content: "\ec2b";
}
.iconsax-tick-square:before {
  content: "\ec2c";
}
.iconsax-timer:before {
  content: "\ec2d";
}
.iconsax-timer-1:before {
  content: "\ec2e";
}
.iconsax-timer-pause:before {
  content: "\ec2f";
}
.iconsax-timer-start:before {
  content: "\ec30";
}
.iconsax-toggle-off:before {
  content: "\ec31";
}
.iconsax-toggle-off-circle:before {
  content: "\ec32";
}
.iconsax-toggle-on:before {
  content: "\ec33";
}
.iconsax-toggle-on-circle:before {
  content: "\ec34";
}
.iconsax-trade:before {
  content: "\ec35";
}
.iconsax-transaction-minus:before {
  content: "\ec36";
}
.iconsax-translate:before {
  content: "\ec37";
}
.iconsax-trash:before {
  content: "\ec38";
}
.iconsax-tree:before {
  content: "\ec39";
}
.iconsax-trend-down:before {
  content: "\ec3a";
}
.iconsax-trend-up:before {
  content: "\ec3b";
}
.iconsax-triangle:before {
  content: "\ec3c";
}
.iconsax-truck:before {
  content: "\ec3d";
}
.iconsax-truck-fast:before {
  content: "\ec3e";
}
.iconsax-truck-remove:before {
  content: "\ec3f";
}
.iconsax-truck-tick:before {
  content: "\ec40";
}
.iconsax-truck-time:before {
  content: "\ec41";
}
.iconsax-trush-square:before {
  content: "\ec42";
}
.iconsax-undo:before {
  content: "\ec43";
}
.iconsax-unlimited:before {
  content: "\ec44";
}
.iconsax-unlock:before {
  content: "\ec45";
}
.iconsax-user:before {
  content: "\ec46";
}
.iconsax-user-add:before {
  content: "\ec47";
}
.iconsax-user-cirlce-add:before {
  content: "\ec48";
}
.iconsax-user-edit:before {
  content: "\ec49";
}
.iconsax-user-minus:before {
  content: "\ec4a";
}
.iconsax-user-octagon:before {
  content: "\ec4b";
}
.iconsax-user-remove:before {
  content: "\ec4c";
}
.iconsax-user-search:before {
  content: "\ec4d";
}
.iconsax-user-square:before {
  content: "\ec4e";
}
.iconsax-user-tag:before {
  content: "\ec4f";
}
.iconsax-user-tick:before {
  content: "\ec50";
}
.iconsax-verify:before {
  content: "\ec51";
}
.iconsax-video:before {
  content: "\ec52";
}
.iconsax-video-add:before {
  content: "\ec53";
}
.iconsax-video-circle:before {
  content: "\ec54";
}
.iconsax-video-horizontal:before {
  content: "\ec55";
}
.iconsax-video-octagon:before {
  content: "\ec56";
}
.iconsax-video-play:before {
  content: "\ec57";
}
.iconsax-video-remove:before {
  content: "\ec58";
}
.iconsax-video-slash:before {
  content: "\ec59";
}
.iconsax-video-square:before {
  content: "\ec5a";
}
.iconsax-video-tick:before {
  content: "\ec5b";
}
.iconsax-video-time:before {
  content: "\ec5c";
}
.iconsax-video-vertical:before {
  content: "\ec5d";
}
.iconsax-voice-cricle:before {
  content: "\ec5e";
}
.iconsax-voice-square:before {
  content: "\ec5f";
}
.iconsax-volume-cross:before {
  content: "\ec60";
}
.iconsax-volume-high:before {
  content: "\ec61";
}
.iconsax-volume-low:before {
  content: "\ec62";
}
.iconsax-volume-low-1:before {
  content: "\ec63";
}
.iconsax-volume-mute:before {
  content: "\ec64";
}
.iconsax-volume-slash:before {
  content: "\ec65";
}
.iconsax-volume-up:before {
  content: "\ec66";
}
.iconsax-wallet:before {
  content: "\ec67";
}
.iconsax-wallet-1:before {
  content: "\ec68";
}
.iconsax-wallet-2:before {
  content: "\ec69";
}
.iconsax-wallet-3:before {
  content: "\ec6a";
}
.iconsax-wallet-add:before {
  content: "\ec6b";
}
.iconsax-wallet-add-1:before {
  content: "\ec6c";
}
.iconsax-wallet-check:before {
  content: "\ec6d";
}
.iconsax-wallet-minus:before {
  content: "\ec6e";
}
.iconsax-wallet-money:before {
  content: "\ec6f";
}
.iconsax-wallet-remove:before {
  content: "\ec70";
}
.iconsax-wallet-search:before {
  content: "\ec71";
}
.iconsax-warning-2:before {
  content: "\ec72";
}
.iconsax-watch:before {
  content: "\ec73";
}
.iconsax-watch-status:before {
  content: "\ec74";
}
.iconsax-weight:before {
  content: "\ec75";
}
.iconsax-weight-1:before {
  content: "\ec76";
}
.iconsax-wifi:before {
  content: "\ec77";
}
.iconsax-wifi-square:before {
  content: "\ec78";
}
.iconsax-wind:before {
  content: "\ec79";
}
.iconsax-wind-2:before {
  content: "\ec7a";
}
.iconsax-woman:before {
  content: "\ec7b";
}
