.event-card {
    width: 100%;

    padding: 20px;
    margin-bottom: 10px;

    h4 span {
        font-weight: var(--fw-regular);
        color: var(--couleur_police_secondaire);
    }

    &:not(:first-of-type) {
        margin-top: 10px;
    }


    h4 {
        margin: 0 0 10px;
    }

    p {
        margin: 0;
    }
}