.event-card {
    width: 100%;

    &:not(:first-of-type) {
        margin-top: 10px;
    }

    margin-bottom: 10px;
    padding-left: 20px;

    h4 {
        margin: 20px 0 10px;
    }

    p {
        margin: 0 0 20px;
    }
}