#post {
    color: white;
    padding: 15px;

    &:not(:last-of-type) {
        margin-bottom: 30px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .thumbnail {
            border-radius: 200px;
            width: 10%;
            height: 10%;
        }

        .details {

            margin-left: 10px;
            margin-right: 10px;
            flex: 4;


            .main-title {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    margin-right: 15px;

                    strong {
                        font-size: 24px;
                    }
                }
            }

            .tags {
                display: flex;
                flex-direction: row;


                .tag {
                    background-color: var(--couleur_accentuation_air);
                    border-radius: 100px;

                    font-size: 12px;
                    align-items: center;

                    margin-left: 5px;
                    margin-right: 5px;

                    padding-left: 15px;
                    padding-right: 15px;

                    p {
                        color: var(--couleur_police_accentuation);
                    }
                }
            }
        }


        .release-date {
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
        }

        .arrow-display {
            cursor: pointer;

            .arrow {
                padding: 30px 15px;
                box-sizing: content-box;
            }
        }
    }

    .description {

        display: none;

        &.visible {
            display: block;
        }

        a {
            color: var(--link-color);
            font-weight: var(--fw-medium);
        }
    }
}