.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 220px;
}

.logo img {
    width: 100%;
    border-radius: 300px;
}

.logo a:before {
    position: absolute;
    z-index: 2;
    top: 170px;
    left: 170px;
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    background: var(--background-color);
}

.description {
    margin-top: 40px;
}

.conteneur_boutons {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .modif_option {
        gap: 26px;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
        transition: background 0.15s ease-in-out;

        &:hover {
            background-color: var(--dark-grey);
        }

        i {
            font-size: 32px;
        }
    }
}

@media screen and (max-width: 680px) {
    .conteneur_boutons {
        flex-direction: column;
        gap: 16px;

        .modif_option {
            flex-direction: row;
            justify-content: flex-start;
            gap: 16px;
            padding: 14px 20px;
            width: 100%;
            height: fit-content;

            border-radius: 10px;

            i {
                font-size: 16px;
            }
        }
    }
}