#bouton-creer {
    margin-bottom: 40px;
}

section {
    width: 100%;
}

#entites-actuelles {
    width: 100%;
}

#choix_entite {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px 0;
    height: auto;
}

td.sites {
    font-size: 0.95em;
    color: var(--couleur_police_secondaire);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

td.sites span {
    background: var(--grey);
    padding: 4px 15px 5px 15px;
    border-radius: 50px;
    text-transform: capitalize;
}

td.type {
    text-transform: capitalize;
}

.meatballs {
    display: flex;
    gap: 2px;
    cursor: pointer;
}

.meatballs>div {
    border-radius: 5px;
    width: 3px;
    height: 3px;
    background: var(--couleur_police_secondaire);
}

#menu_meatballs {
    /* display:none; */
    position: absolute;
    border-radius: 15px;
    background: var(--grey);
    padding-inline-start: 0px;
}

#menu_meatballs li {
    display: block;
    width: 100%;
    list-style-type: none;
}

#menu_meatballs li a {
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
}

#menu_meatballs li a:hover {
    color: var(--couleur_police_secondaire);
}