#choix_role {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

td span.role {
    font-size: 0.95em;
    color: var(--couleur_police_secondaire);
    background: var(--light-grey);
    padding: 4px 15px 5px 15px;
    border-radius: 50px;
    text-transform: capitalize;
}

td.type {
    text-transform: capitalize;
}

td a.icon-edit-2 {
    cursor: pointer;
}

#roles {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 8px;
}

#roles option {
    display: none;
    padding: 6px 12px;
    background-color: var(--dark-grey);
    cursor: pointer;
    border-radius: 5px;
}