section {
    .thumbnail {
        display: flex;
        justify-content: center;

        img {
            border-radius: 1000px;
            height: 150px;
        }
    }

    .title {
        margin: 15px 0 10px;
        text-align: center;
    }

    .title+p {
        text-align: center;
        color: var(--couleur_police_secondaire);
        font-weight: var(--fw-light);
        font-size: 1em;

        .separator {
            color: var(--couleur_police_secondaire);
            font-weight: var(--fw-light);
            display: inline-block;
            width: 20px; //Same width as parent's horizontal gap
            text-align: center;
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 8px 10px;

        grid-row: 2;
        grid-column: 2;


        .tag {
            display: inline-block;
            color: var(--couleur_police_accentuation);
            border-radius: 1000px;
            align-items: center;
            font-size: 13px;

            padding: 6px 12px;

        }
    }

    .description {
        &> :first-child {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid var(--light-grey);
        }
    }
}