#side-bar {
    width: 30%;
    margin-left: 20px;
    margin-right: 40px;
  }
  
  #calendrier {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .day-card {
    width: 70%;
    background: #2E2E33;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }