#calendrier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-card {
    width: 70%;
    background: var(--grey);
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}