body {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif, system-ui;
  overflow-x: hidden;
}

p {
  color: var(--couleur_police_primaire);
  padding: 5px;
}

h1 {
  text-align: center;
  color: var(--couleur_police_primaire);
}

#content {
  overflow-x: hidden;
}


@media (max-width: 1100px) {
  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  p {
    margin-block-start: 15px;
    margin-block-end: 15px;
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  p {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  #wrapper {
    padding: 0px 5px 0px 5px;
  }
}

@media (min-width: 1200px) {
  #content.grand {
    min-width: 1200px;
    width: 80%;
  }
}