body {
  background-color: $color_background;
  font-family: system-ui;
  overflow-x: hidden;
}

p {
  color: $color_font;
}

h2 {
  color: $color_font;
}

h3 {
  color: $color_font;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  padding: 0 calc($wrapper_padding + $scrollbar_width) 0 $wrapper_padding;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  #wrapper {
    padding: 0px $mobile_wrapper_padding 0px $mobile_wrapper_padding;
  }
}
// TODO : recentrer le wrapper en tenant compte de la scroll bar (custom la scroll bar ?)

#content {
  overflow-x: hidden;
}

@media (min-width: $content_min_width) {
  #content.grand {
      min-width: $content_min_width;
      width: $content_percent_width;
  }
}


h1{
	margin-block-start: 1em;
	text-align: center;
  color: $color_font;
	text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: $color_highlight;

  .espace {
    margin-block-start: 2em;;
  }
}

.logo {
  display: flex;
  justify-content: center;
  height: 60vh;
}

// @keyframes shining {
//     50% {
//         background-color: $color_grey;
//     }
//     100% {
//         background-color: transparent;
//     }
// }

// .values-container {
//     height: 300px;

//     & .value {
//         margin: 50px;
//     }
// }

// .footer {
//     margin-top: 30px;
//     height: 200px;
//     background: $color_grey;
// }
