$color_background: #17191b;
$color_font: #ffffff;
$color_highlight: #cc3345;
$color_light_highlight: #cc5966;

$big_shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.4);
$small_shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);

$scrollbar_width: 1em;
